<!-- <div class="d-flex flex-row bg-secondary w-100 min-vh-100">
  <div class="col-6 text-center bg-white">Free Plan</div>

  <div class="col-6 text-center bg-white">Full Access</div>
</div> -->

<div class="d-flex flex-row flex-wrap px-0 bg-light splash__container">
  <div class="col-12 text-center">
    <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
      <mat-card-title class="py-2"> Getting Started With Adoya </mat-card-title>
      <mat-card-content>
        <img class="logo" src="../../../assets/images/adoya-logo.jpg" />
        <mat-card-subtitle class="mt-2 mb-2 text-center">
          <span class="adoya-link"></span>Something here
        </mat-card-subtitle>
        <div class="d-flex flex-row justify-content-center">
          <mat-list>
            <mat-list-item>
              <mat-icon color="accent">verified</mat-icon>
              <span class="text-secondary"
                >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore
              </span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="accent">verified</mat-icon>
              <span class="text-secondary"
                >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore
              </span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="accent">verified</mat-icon>
              <span class="text-secondary"
                >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore
              </span>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 text-center"></div>
  <div class="col-6">
    <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
      <mat-card-title class="py-2"> Free Plan </mat-card-title>
      <mat-card-content>
        <div class="d-flex flex-row justify-content-left">
          <mat-card-subtitle class="mt-2 mb-2">
            <span class="adoya-link"></span>Something here
            <mat-list>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-secondary"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-secondary"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                </span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-secondary"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                </span>
              </mat-list-item>
            </mat-list>
          </mat-card-subtitle>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-action-row class="w-100">
          <div>
            <button mat-stroked-button color="accent" class="float-left">
              <span class="pl-1">Start Free Trial</span>
            </button>
          </div>
        </mat-action-row>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-6">
    <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
      <mat-card-title class="py-2 align-middle"> Full Access </mat-card-title>
      <mat-card-content>
        <div class="d-flex flex-row justify-content-left">
          <mat-card-subtitle class="mt-2 mb-2">
            Something here
            <mat-list>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted">Something here</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted">Something here</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted">Something here</span>
              </mat-list-item>
            </mat-list>
          </mat-card-subtitle>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-action-row class="w-100">
          <div>
            <button mat-raised-button color="accent" class="float-left">
              <mat-icon class="text-light" aria-label="submit">done</mat-icon>
              <span class="text-light pl-1">Start Free Trial</span>
            </button>
          </div>
        </mat-action-row>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
