<!-- <div class="d-flex flex-row bg-secondary w-100 min-vh-100">
  <div class="col-6 text-center bg-white">Free Plan</div>

  <div class="col-6 text-center bg-white">Full Access</div>
</div> -->

<div class="d-flex flex-row flex-wrap px-0 bg-light splash__container">
  <div class="col-12 text-center">
    <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100 text-center">
      <img
        class="logo float-left"
        src="../../../assets/images/adoya-logo.jpg"
      />
      <mat-card-title class="py-2"> Getting Started With Adoya </mat-card-title>
      <mat-card-content>
        <div class="d-flex flex-row justify-content-left m-4 p-4">
          <!-- <mat-list>
            <mat-list-item>
              <mat-icon class="text-muted">check_circle_outline</mat-icon>
              <span class="text-secondary"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco
              </span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon class="text-muted">check_circle_outline</mat-icon>
              <span class="text-secondary"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco
              </span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon class="text-muted">check_circle_outline</mat-icon>
              <span class="text-secondary"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco
              </span>
            </mat-list-item>
          </mat-list> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 text-center"></div>
  <div class="col-6">
    <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100 h-100">
      <mat-card-title class="py-2 text-muted"> Free Plan </mat-card-title>
      <mat-card-content>
        <div class="d-flex flex-row justify-content-left">
          <mat-list>
            <mat-list-item>
              <mat-icon class="text-muted">verified</mat-icon>
              <span class="text-secondary"
                >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              </span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon class="text-muted">verified</mat-icon>
              <span class="text-secondary"
                >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              </span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon class="text-muted">verified</mat-icon>
              <span class="text-secondary"
                >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              </span>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-action-row class="w-100">
          <div>
            <button
              mat-stroked-button
              color="accent"
              class="position-absolute bottom-10 left-0 w-auto ml-2"
            >
              <span class="pl-1">Get Free Plan</span>
            </button>
          </div>
        </mat-action-row>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-6">
    <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100 h-100">
      <mat-card-title class="py-2 align-middle text-primary">
        Full Access
      </mat-card-title>
      <mat-card-content>
        <div class="d-flex flex-row justify-content-left">
          <mat-card-subtitle class="mt-2 mb-2">
            <mat-list>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed</span
                >
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed</span
                >
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed</span
                >
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed</span
                >
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed</span
                >
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="accent">verified</mat-icon>
                <span class="text-muted"
                  >"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed</span
                >
              </mat-list-item>
            </mat-list>
          </mat-card-subtitle>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-action-row class="w-100">
          <div>
            <button mat-raised-button color="accent" class="float-left">
              <mat-icon class="text-light" aria-label="submit">done</mat-icon>
              <span class="text-light pl-1">Start Free Trial</span>
            </button>
          </div>
        </mat-action-row>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
