<div class="pb-5 pt-5 d-flex flex-row flex-wrap">
  <div class="col-12 text-left">
    <div class="font-size-38 text-muted font-weight-bold pl-3 mt-3 mb-3 pt-3">
      Our Proud Partners
    </div>
  </div>

  <div class="col-12 text-center">
    <mat-action-list class="d-flex flex-row py-4 bg-white">
      <button
        mat-list-item
        (click)="handleClick('https://www.hellobonsai.com/')"
      >
        <img
          class="small-image mt-3 pt-2"
          src="../../../../assets/images/bonsai.svg"
        />
      </button>
      <button mat-list-item (click)="handleClick('https://www.covetly.com/')">
        <img
          class="small-image mt-3 pt-2"
          src="../../../../assets/images/covetly logo.webp"
        />
      </button>
      <button mat-list-item (click)="handleClick('https://hugah.com/')">
        <img
          class="small-image mt-3 pt-2"
          src="../../../../assets/images/hugah-logo-400x100.webp"
        />
      </button>
      <button mat-list-item (click)="handleClick('https://weareher.com/')">
        <img
          class="small-image mt-3 pt-2"
          src="../../../../assets/images/her logo.webp"
        />
      </button>
      <button mat-list-item (click)="handleClick('https://www.apptweak.com/')">
        <img
          class="small-image mt-3 pt-2"
          src="../../../../assets/images/AppTweak_logo_1920.webp"
        />
      </button>
      <button mat-list-item (click)="handleClick('https://branch.io/')">
        <img
          class="small-image mt-3 pt-2"
          src="../../../../assets/images/branch-logo-color-dark.webp"
        />
      </button>
    </mat-action-list>
  </div>
</div>
