<div
  class="nav-links__container flex-column d-flex justify-content-start align-items-start"
>
  <ng-container
    *ngFor="
      let link of navLinkService.navLinks;
      let i = index;
      trackBy: trackLink
    "
  >
    <div
      routerLinkActive="active-page"
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLink]="link.routerLink"
      class="w-100 d-flex flex-row align-items-start justify-content-start nav-links__button-container px-2"
    >
      <button
        routerLinkActive="active-page"
        [routerLinkActiveOptions]="{ exact: false }"
        [routerLink]="link.routerLink"
        class="nav-links__button px-0"
        color="accent"
        (click)="handleClick(link, link.index)"
        mat-button
      >
        <mat-icon
          color="accent"
          *ngIf="isSvg(link.icon)"
          [svgIcon]="link.icon.split('.')[1]"
          class="pr-1"
        ></mat-icon>
        <mat-icon color="accent" *ngIf="!isSvg(link.icon)" class="pr-1">
          {{ link.icon }}
        </mat-icon>
        &nbsp;&nbsp;{{ link.title }}
      </button>
    </div>
  </ng-container>
</div>
