<div
  class="h-100 nav-links__container flex-column d-flex justify-content-start align-items-start"
>
  <ng-container
    *ngFor="
      let link of navLinkService.navLinks;
      let i = index;
      trackBy: trackLink
    "
  >
    <!-- <mat-nav-list
      class="nav-links__mat-accordion__mat-expansion-panel__mat-nav-sub-list"
    >
      <ng-container
        *ngFor="
          let sublink of navLinkService.navLinks[i].subLinks;
          trackBy: trackLink
        "
      >
        <div
          class="nav-links__mat-accordion__mat-expansion-panel__mat-nav-sub-list__mat-sub-list-item"
        >
          <a
            mat-list-item
            class="text-reset"
            routerLinkActive="active-page"
            [routerLinkActiveOptions]="{ exact: false }"
            [routerLink]="sublink.routerLink"
            (click)="handleClick(sublink, link.index)"
          >
            {{ sublink.title }}
          </a>
        </div>
      </ng-container>
    </mat-nav-list> -->
    <div
      class="w-100 d-flex flex-row align-items-start justify-content-start nav-links__button-container"
    >
      <button
        routerLinkActive="active-page"
        [routerLinkActiveOptions]="{ exact: false }"
        class="nav-links__button px-0"
        color="accent"
        (click)="handleClick(link, link.index)"
        mat-button
      >
        <mat-icon
          *ngIf="isSvg(link.icon)"
          [svgIcon]="link.icon.split('.')[1]"
          class="pr-1"
        ></mat-icon>
        <mat-icon *ngIf="!isSvg(link.icon)" class="pr-1">
          {{ link.icon }}
        </mat-icon>
        &nbsp;&nbsp;{{ link.title }}
      </button>

      <button
        *ngIf="!link.onclick && link.type === 'button'"
        [routerLink]="link.routerLink"
        routerLinkActive="active-page"
        (click)="handleClick(link, link.index)"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-links__button px-0"
        mat-button
      >
        <mat-icon
          *ngIf="isSvg(link.icon)"
          [svgIcon]="link.icon.split('.')[1]"
          class="pr-1"
        ></mat-icon>
        <mat-icon *ngIf="!isSvg(link.icon)" class="pr-1">
          {{ link.icon }}
        </mat-icon>
        &nbsp;&nbsp;{{ link.title }}
      </button>
    </div>
  </ng-container>
</div>
