@import "variables.scss";

//Styles for Nav Bar collapsed
.nav-links__collapsed-nav {
  height: calc(100% - 90px);

  .nav-links__collapsed-nav__mat-nav-list {
    height: 100%;
    z-index: 5;

    ::ng-deep .sub-links-expanded .mat-button-wrapper .chevron-icon {
      display: none;
    }

    ::ng-deep mat-icon.toolbar-icon > svg {
      width: inherit;
    }
  }
}

.nav-links__button {
  height: 50px;
}

.nav-links__button:hover {
  height: 50px;
  background-color: mat-color($adoya-web-accent) !important;
}

.nav-links__button-container:hover {
  background-color: mat-color($adoya-web-accent) !important;
}

.nav-links__container {
  // height: 100vh !important;
  height: calc(100vh) !important;
  width: 200px;
}

.active-page {
  background-color: mat-color($adoya-web-primary) !important;
}
