<div class="d-flex flex-row flex-wrap px-0 splash__container">
  <app-home-site-menu activeButton="Home"></app-home-site-menu>
  <div class="z-index-1" [ngStyle]="{ 'margin-top': '185px' }" class="w-100">
    <div class="d-flex flex-row mt-0 justify-content-center w-100">
      <div class="col-12 p-2">
        <mat-card class="mat-elevation-z0 w-100 pb-3 pt-5">
          <div class="d-flex flex-row col-11">
            <div class="col-6 text-left ml-5 pl-5">
              <div class="font-size-20 text-muted pl-3 mt-3">
                Look Beyond Installs, Focus on Profitability.
              </div>

              <div class="list-item-large mt-4">
                <span class="text-muted pl-3 font-size-38 font-weight-bold"
                  >Enhance Apple Search Ads ROI
                </span>
              </div>
              <div class="mt-4">
                <div class="font-size-20 pl-3 text-muted">
                  Adoya optimizes Apple Search Ads installs and in-app
                  performance using built-in best practices and simple-to-use
                  web-based tools.
                </div>
              </div>

              <div class="mt-5 pt-4 pb-5 d-flex flex-row justify-content-left">
                <button
                  mat-raised-button
                  color="accent"
                  class="
                    w-auto
                    ml-4
                    mt-2
                    rounded-pill
                    p-2
                    border border-secondary
                  "
                >
                  <span class="text-light px-5 font-size-20">How it works</span>
                </button>

                <button
                  mat-raised-button
                  color="accent"
                  class="
                    w-auto
                    ml-4
                    mt-2
                    rounded-pill
                    p-2
                    border border-secondary
                  "
                >
                  <span class="text-light px-5 font-size-20">Who We Are</span>
                </button>
              </div>
            </div>

            <div class="col-6 text-center">
              <div class="mt-3 pt-3 px-5">
                <mat-carousel
                  timings="250ms ease-in"
                  [slideHeight]="500"
                  [autoplay]="true"
                  interval="4000"
                  color="accent"
                  maxWidth="auto"
                  proportion="40"
                  maintainAspectRatio="true"
                  slides="13"
                  [loop]="false"
                  [hideArrows]="false"
                  [hideIndicators]="true"
                  [useKeyboard]="true"
                  [useMouseWheel]="false"
                  orientation="ltr"
                >
                  <mat-carousel-slide
                    #matCarouselSlide
                    *ngFor="
                      let slide of homesiteFacade.allSlides;
                      let i = index
                    "
                    [image]="slide.image"
                    [hideOverlay]="true"
                  ></mat-carousel-slide>
                </mat-carousel>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="pb-5 pt-5 ml-5 pl-5 d-flex flex-row flex-wrap">
            <div class="col-12 text-left">
              <div
                class="
                  font-size-38
                  text-muted
                  font-weight-bold
                  pl-3
                  mt-3
                  mb-3
                  pt-3
                "
              >
                Our Proud Partners
              </div>
            </div>

            <div class="col-12 text-center">
              <mat-action-list class="d-flex flex-row py-4 bg-white">
                <button
                  mat-list-item
                  (click)="handleClick('https://www.hellobonsai.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/bonsai.svg"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://www.covetly.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/covetly logo.webp"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://hugah.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/hugah-logo-400x100.webp"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://weareher.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/her logo.webp"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://www.apptweak.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/AppTweak_logo_1920.webp"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://branch.io/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/branch-logo-color-dark.webp"
                  />
                </button>
              </mat-action-list>
            </div>
          </div>
        </mat-card>
        <!-- <div class="w-100 fader pt-5 pb-5"></div> -->
        <div class="w-100"><mat-divider></mat-divider></div>
      </div>
    </div>
  </div>
</div>
