<div class="d-flex flex-row flex-wrap px-0 splash__container">
  <app-home-site-menu activeButton="Home"></app-home-site-menu>
  <div class="z-index-1" [ngStyle]="{ 'margin-top': '185px' }" class="w-100">
    <div class="d-flex flex-row mt-0 justify-content-center w-100">
      <div class="col-12 p-2">
        <mat-card class="mat-elevation-z0 w-100 pb-5 pt-5">
          <div class="d-flex flex-row">
            <div class="col-6 text-left ml-5 pl-5">
              <div class="font-size-20 text-muted pl-3 mt-3">
                Look Beyond Installs, Focus on Profitability.
              </div>

              <div class="list-item-large mt-4">
                <span class="text-muted pl-3 font-size-38 font-weight-bold"
                  >Enhance Apple Search Ads ROI
                </span>
              </div>
              <div class="mt-4">
                <span class="font-size-20 pl-3 text-muted">
                  Optimize installs and in-app performance.</span
                >
              </div>

              <div class="mt-5 pt-4 pb-5 d-flex flex-row justify-content-left">
                <button
                  mat-raised-button
                  color="accent"
                  class="
                    w-auto
                    ml-4
                    mt-2
                    rounded-pill
                    p-2
                    border border-secondary
                  "
                >
                  <span class="text-light px-5 font-size-20">How it works</span>
                </button>

                <button
                  mat-raised-button
                  color="accent"
                  class="
                    w-auto
                    ml-4
                    mt-2
                    rounded-pill
                    p-2
                    border border-secondary
                  "
                >
                  <span class="text-light px-5 font-size-20">Who We Are</span>
                </button>
              </div>
            </div>

            <div class="col-6 text-center">
              <div class="carousel__container-large mt-3 pt-3 px-5">
                <mat-carousel
                  timings="250ms ease-in"
                  [slideHeight]="500"
                  [autoplay]="true"
                  interval="4000"
                  color="accent"
                  maxWidth="auto"
                  proportion="40"
                  maintainAspectRatio="true"
                  slides="13"
                  [loop]="false"
                  [hideArrows]="false"
                  [hideIndicators]="true"
                  [useKeyboard]="true"
                  [useMouseWheel]="false"
                  orientation="ltr"
                >
                  <mat-carousel-slide
                    #matCarouselSlide
                    *ngFor="let slide of allSlides; let i = index"
                    [image]="slide.image"
                    [hideOverlay]="true"
                  ></mat-carousel-slide>
                </mat-carousel>
              </div>
            </div>
          </div>

          <div class="pb-5 pt-5 ml-5 pl-5 d-flex flex-row flex-wrap">
            <div class="col-12 text-left border-bottom">
              <div
                class="font-size-38 text-muted font-weight-bold pl-3 mt-3 mb-3"
              >
                Our Proud Partners
              </div>
            </div>

            <div class="col-12 text-center border-bottom">
              <mat-action-list class="d-flex flex-row py-4 bg-white">
                <button
                  mat-list-item
                  (click)="handleClick('https://www.hellobonsai.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/bonsai.svg"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://www.covetly.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/covetly logo.webp"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://hugah.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/hugah-logo-400x100.webp"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://weareher.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/her logo.webp"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://www.apptweak.com/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/AppTweak_logo_1920.webp"
                  />
                </button>
                <button
                  mat-list-item
                  (click)="handleClick('https://branch.io/')"
                >
                  <img
                    class="small-image mt-3 pt-2"
                    src="../../../../assets/images/branch-logo-color-dark.webp"
                  />
                </button>
              </mat-action-list>

              <!-- <div class="d-flex flex-row justify-content-between">
                <img src="../../../../assets/images/AppTweak_logo_1920.webp" />

                <img
                  class="small-image mt-3 pt-2"
                  src="../../../../assets/images/bonsai.svg"
                />

                <img
                  class="small-image mt-3 pt-2"
                  src="../../../../assets/images/covetly logo.webp"
                />

                <img
                  class="small-image mt-3 pt-2"
                  src="../../../../assets/images/her logo.webp"
                />
              </div> -->
            </div>
          </div>

          <!-- <img
              class="border med-image mt-3 pt-2"
              src="../../../../assets/images/fader.webp"
            />  -->
        </mat-card>
        <!-- <div class="w-100 fader pt-5 pb-5"></div> -->
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="d-flex flex-row flex-wrap px-0 splash__container">
      <!-- optimization -->
      <div class="col-12 pt-3 mt-5">
        <div class="d-flex flex-row justify-content-center">
          <div class="col-12">
            <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
              <mat-card-title class="py-2 text-muted">
                Optimize campaigns.
                <mat-icon color="accent">auto_graph</mat-icon>
              </mat-card-title>
              <mat-card-subtitle class="py-2 text-muted font-weight-bold">
                Choose from pre-defined campaign strategies. Our algorithm
                provides you with
                <a class="adoya-link" href="#">built in best practices</a>
                that will help maximize growth, lower cost per install, and save
                time.
              </mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content>
                <div class="carousel__container mt-3 pt-3">
                  <mat-carousel
                    timings="250ms ease-in"
                    [slideHeight]="300"
                    [autoplay]="true"
                    interval="3500"
                    color="accent"
                    maxWidth="auto"
                    proportion="50"
                    maintainAspectRatio="true"
                    slides="4"
                    [loop]="false"
                    [hideArrows]="true"
                    [hideIndicators]="false"
                    [useKeyboard]="true"
                    [useMouseWheel]="false"
                    orientation="ltr"
                  >
                    <mat-carousel-slide
                      #matCarouselSlide
                      *ngFor="let slide of optimizeSlides; let i = index"
                      [image]="slide.image"
                      [hideOverlay]="true"
                    ></mat-carousel-slide>
                  </mat-carousel>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- reporting -->
      <div class="col-12 pt-3 mt-5">
        <div class="d-flex flex-row justify-content-center">
          <div class="col-12">
            <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
              <mat-card-title class="py-2 text-muted">
                Comprehensive Reporting.
                <mat-icon color="accent">insert_chart</mat-icon>
              </mat-card-title>
              <mat-card-subtitle class="py-2 text-muted font-weight-bold">
                Daily email reports and on-demand reporting in the Adoya web
                application console. Download reports in a variety of formats.
              </mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content>
                <div class="carousel__container mt-3 pt-3">
                  <mat-carousel
                    timings="250ms ease-in"
                    [slideHeight]="300"
                    [autoplay]="true"
                    interval="4000"
                    color="accent"
                    maxWidth="auto"
                    proportion="50"
                    maintainAspectRatio="true"
                    slides="2"
                    [loop]="false"
                    [hideArrows]="true"
                    [hideIndicators]="false"
                    [useKeyboard]="true"
                    [useMouseWheel]="false"
                    orientation="ltr"
                  >
                    <mat-carousel-slide
                      #matCarouselSlide
                      *ngFor="let slide of reportingSlides; let i = index"
                      [image]="slide.image"
                      [hideOverlay]="true"
                    ></mat-carousel-slide>
                  </mat-carousel>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- data vis -->
      <div class="col-12 pt-3 mt-5">
        <div class="d-flex flex-row justify-content-center">
          <div class="col-12">
            <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
              <mat-card-title class="py-2 text-muted">
                Data visualization tooling.
                <mat-icon color="accent">pie_chart</mat-icon>
              </mat-card-title>
              <mat-card-subtitle class="py-2 text-muted font-weight-bold">
                Simple to use web tools let you visualize and analyze your data
                metrics. Slice and dice data with ease to maximize insights.
              </mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content>
                <div class="carousel__container mt-3 pt-3">
                  <mat-carousel
                    timings="250ms ease-in"
                    [slideHeight]="300"
                    [autoplay]="true"
                    interval="4000"
                    color="accent"
                    maxWidth="auto"
                    proportion="50"
                    maintainAspectRatio="true"
                    slides="2"
                    [loop]="false"
                    [hideArrows]="true"
                    [hideIndicators]="false"
                    [useKeyboard]="true"
                    [useMouseWheel]="false"
                    orientation="ltr"
                  >
                    <mat-carousel-slide
                      #matCarouselSlide
                      *ngFor="let slide of visulizeSlides; let i = index"
                      [image]="slide.image"
                      [hideOverlay]="true"
                    ></mat-carousel-slide>
                  </mat-carousel>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- mmps -->
      <div class="col-12 pt-3 mt-5">
        <div class="d-flex flex-row justify-content-center">
          <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
            <mat-card-title class="py-2 text-muted">
              Integrations.
              <mat-icon color="accent">drive_file_move</mat-icon>
            </mat-card-title>

            <mat-card-subtitle class="py-2 text-muted font-weight-bold">
              Use post-install data from mobile measurement partners to optimize
              revenue. Go beyond installs and maximize profit.
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="carousel__container mt-3 pt-3">
                <mat-carousel
                  timings="250ms ease-in"
                  [slideHeight]="300"
                  [autoplay]="true"
                  interval="4000"
                  color="accent"
                  maxWidth="auto"
                  proportion="50"
                  maintainAspectRatio="true"
                  slides="2"
                  [loop]="false"
                  [hideArrows]="true"
                  [hideIndicators]="false"
                  [useKeyboard]="true"
                  [useMouseWheel]="false"
                  orientation="ltr"
                >
                  <mat-carousel-slide
                    #matCarouselSlide
                    *ngFor="let slide of integrationSlides; let i = index"
                    [image]="slide.image"
                    [hideOverlay]="true"
                  ></mat-carousel-slide>
                </mat-carousel>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- testimonial -->
      <div class="col-12 pt-3 mt-5">
        <div class="d-flex flex-row justify-content-center">
          <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
            <mat-card-title class="py-2 text-muted">
              Testimonials.
              <mat-icon color="accent">comment</mat-icon>
            </mat-card-title>

            <mat-card-subtitle class="py-2 text-muted font-weight-bold">
              See what some of our customers are saying about Adoya:
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="carousel__container mt-3 pt-3 px-5">
                <mat-carousel
                  timings="250ms ease-in"
                  [slideHeight]="300"
                  [autoplay]="true"
                  interval="4000"
                  color="accent"
                  maxWidth="auto"
                  proportion="40"
                  maintainAspectRatio="true"
                  slides="3"
                  [loop]="false"
                  [hideArrows]="true"
                  [hideIndicators]="false"
                  [useKeyboard]="true"
                  [useMouseWheel]="false"
                  orientation="ltr"
                >
                  <mat-carousel-slide
                    #matCarouselSlide
                    *ngFor="let slide of testimonialSlides; let i = index"
                    [image]="slide.image"
                    [hideOverlay]="true"
                  ></mat-carousel-slide>
                </mat-carousel>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- plans -->
      <div class="col-6 pb-3 mt-5">
        <mat-card class="workbench__card mat-elevation-z0 mt-3 pb-3 w-100">
          <mat-card-title class="py-2 text-muted">
            Get the Free Plan.
            <mat-icon class="mr-2">try</mat-icon></mat-card-title
          >

          <mat-card-subtitle class="py-2 text-muted font-weight-bold">
            Get started with the basics
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="d-flex flex-row justify-content-left">
              <mat-list>
                <mat-list-item>
                  <mat-icon class="text-muted">verified</mat-icon>
                  <span class="text-secondary"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                  </span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon class="text-muted">verified</mat-icon>
                  <span class="text-secondary"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                  </span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon class="text-muted">verified</mat-icon>
                  <span class="text-secondary"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                  </span>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <mat-action-row class="w-100">
              <div>
                <button
                  mat-stroked-button
                  color="accent"
                  class="w-auto ml-4 mt-2"
                >
                  <span class="pl-1">Get Free Plan</span>
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>
            </mat-action-row>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-6 pb-3 mt-5 card-light border">
        <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100 py-2 pb-3">
          <mat-card-title class="py-2 align-middle text-primary">
            Get the full suite.
            <mat-icon class="mr-2">try</mat-icon>
          </mat-card-title>
          <mat-card-subtitle class="py-2 font-weight-bold text-primary">
            Do more with advanced features
            <mat-icon>auto_graph</mat-icon></mat-card-subtitle
          >
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="d-flex flex-row justify-content-left">
              <mat-card-subtitle class="mb-2">
                <mat-list>
                  <mat-list-item>
                    <mat-icon color="accent">verified</mat-icon>
                    <span class="text-muted"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed</span
                    >
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon color="accent">verified</mat-icon>
                    <span class="text-muted"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed</span
                    >
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon color="accent">verified</mat-icon>
                    <span class="text-muted"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed</span
                    >
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon color="accent">verified</mat-icon>
                    <span class="text-muted"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed</span
                    >
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon color="accent">verified</mat-icon>
                    <span class="text-muted"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed</span
                    >
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon color="accent">verified</mat-icon>
                    <span class="text-muted"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed</span
                    >
                  </mat-list-item>
                </mat-list>
              </mat-card-subtitle>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <mat-action-row class="w-100">
              <div class="mt-2">
                <button
                  mat-raised-button
                  color="accent"
                  class="w-auto ml-4 mt-2"
                >
                  <span class="text-light pl-1"
                    >Start Free One Month Trial</span
                  >
                  <mat-icon class="text-light" aria-label="submit"
                    >navigate_next</mat-icon
                  >
                </button>
              </div>
            </mat-action-row>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
