<div class="container pt-2 pb-1">
  <div class="row bottom-border">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <a href="/workbench/reporting"
        ><img src="/assets/images/adoya-client-portal.png" alt=""
      /></a>
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="row">
    <img src="/assets/images/spacer.png" height="25" alt="" />
  </div>
  <div class="row">
    <div class="row sign-in w-100">
      <amplify-authenticator
        [signUpConfig]="signUpConfig"
        [usernameAttributes]="usernameAttributes"
      ></amplify-authenticator>
    </div>
    <!-- <div class="col-md-4"></div> -->
  </div>
</div>
