<!--  card -->
<div class="workbench__loading-shade" *ngIf="isLoadingResults">
  <mat-spinner color="primary" strokeWidth="6.5"></mat-spinner>
</div>
<div class="workbench__sending" *ngIf="isSendingResults">
  <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>
<mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
  <mat-card-title class="pb-2">
    <div class="d-flex col-12 justify-content-between">
      <div class="col-5 justify-content-start">
        <!-- <span class="float-left"> -->
        <mat-card-subtitle class="mt-2 mb-2 font-weight-bold">
          Manage Applications and Clients
        </mat-card-subtitle>
        <!-- </span> -->
      </div>
      <div class="d-flex col-7 justify-content-end">
        <button mat-button class="rounded" (click)="handleRegistration()">
          <mat-icon class="pr-2" color="accent">add</mat-icon>
          add a new client or application to your account
        </button>
        <button
          (click)="onResetForm()"
          [disabled]="undoDisabled()"
          mat-button
          class="workbench__buttons"
        >
          <mat-icon
            [ngClass]="undoDisabled() ? '' : 'adoya-web-primary'"
            aria-label="reset"
            >refresh</mat-icon
          >
          <span [ngClass]="undoDisabled() ? '' : 'adoya-web-primary'"
            >undo changes</span
          >
        </button>

        <button
          (click)="submit()"
          [disabled]="submitDisabled()"
          mat-button
          class="workbench__buttons"
        >
          <mat-icon
            [ngClass]="submitDisabled() ? '' : 'adoya-web-primary'"
            aria-label="save"
            >cloud_done</mat-icon
          >
          <span [ngClass]="submitDisabled() ? '' : 'adoya-web-primary'">
            save changes</span
          >
        </button>
      </div>
    </div>
  </mat-card-title>

  <!-- form -->
  <form [formGroup]="clientForm">
    <mat-card-content>
      <!-- campaigns title -->
      <mat-card-subtitle
        class="mt-2 mb-2 font-weight-bold d-flex justify-content-end"
      >
        <div class="w-100">
          <button
            mat-button
            (click)="$event.preventDefault(); accordion.openAll()"
          >
            <mat-icon color="primary">expand_more</mat-icon>Expand All
          </button>
          <button
            mat-button
            (click)="$event.preventDefault(); accordion.closeAll()"
          >
            <mat-icon color="primary">expand_less</mat-icon>Collapse All
          </button>
        </div>
      </mat-card-subtitle>

      <!-- campaigns subtitle  -->
      <!-- <mat-label class="d-block"> Set App level Stuff </mat-label> -->

      <!-- campaigns  -->
      <div class="w-100">
        <div *ngIf="hasNoClients() | async">
          You have no applications registered to this account.
        </div>
        <div class="mt-2">
          <!-- <button
            mat-flat-button
            class="rounded border"
            (click)="handleRegistration()"
          >
            <mat-icon class="pr-2" color="accent">add</mat-icon>
            add a new client or application to your account
          </button> -->
        </div>
        <mat-accordion multi class="col-2">
          <ng-container *ngFor="let client of clients | async">
            <!-- campaigns panels -->
            <!-- <mat-expansion-panel
              class="mat-elevation-z0 mt-1 m-2 text-center"
              [class.disabled]="client.status === ''"
              [ngClass]="[
                hasBidParameters(campaign)
                  ? 'workbench_campaign__card-active'
                  : 'workbench_campaign__card',
                campaign.status === 'PAUSED'
                  ? 'workbench_campaign__card-disabled'
                  : '',
                isCampaignDirty(campaign)
                  ? 'workbench_campaign__card-dirty'
                  : ''
              ]"
              *ngIf="!isSearchCampaign(campaign)"
            > -->
            <mat-expansion-panel
              class="mat-elevation-z0 mt-1 m-2 text-center"
              [class.disabled]="client.status === ''"
              [ngClass]="[
                client.orgDetails.isActiveClient
                  ? 'workbench_campaign__card'
                  : 'workbench_campaign__card-disabled',
                isClientDirty(client) ? 'workbench_campaign__card-dirty' : ''
              ]"
            >
              <mat-expansion-panel-header>
                <div>
                  <mat-icon
                    *ngIf="
                      client.orgDetails.isActiveClient === true;
                      else pausedIcon
                    "
                    color="primary"
                    class="align-middle"
                    >play_arrow</mat-icon
                  >
                  <ng-template #pausedIcon>
                    <mat-icon class="align-middle">pause</mat-icon>
                  </ng-template>
                  {{ client.orgDetails.appName }} ({{
                    client.orgDetails.appId
                  }})
                </div>
              </mat-expansion-panel-header>

              <div
                class="d-flex flex-row flex-wrap no-gutters justify-content-start"
              >
                <div class="w-100 d-flex justify-content-start p-2">
                  <mat-slide-toggle
                    color="primary"
                    [formControlName]="client.orgId"
                    >Enable</mat-slide-toggle
                  >
                </div>

                <div class="w-100 d-flex justify-content-start p-2">
                  <button
                    [disabled]="!client.orgDetails.isActiveClient"
                    mat-raised-button
                    class="border rounded"
                    (click)="
                      contextSwitch(client.orgId, client.orgDetails.appName)
                    "
                  >
                    Browse as this client & application<mat-icon class="ml-2">
                      badge
                    </mat-icon>
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </div>
    </mat-card-content>
  </form>
</mat-card>
