<div class="d-flex col-12 px-0">
  <mat-card class="account__card mat-elevation-z0 mt-3 w-100">
    <mat-card-content>
      <div class="example-container w-100">
        <mat-card-subtitle class="pb-1">
          User Account Information
        </mat-card-subtitle>

        <form [formGroup]="accountForm">
          <div class="w-100">
            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label>email</mat-label>
              <input
                readonly="true"
                matInput
                placeholder="email"
                formControlName="email"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label>organization id</mat-label>
              <input
                readonly="true"
                matInput
                placeholder="organization id"
                formControlName="orgId"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label>first name</mat-label>
              <input
                readonly="true"
                matInput
                placeholder="first name"
                formControlName="firstName"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label>last name</mat-label>
              <input
                readonly="true"
                matInput
                placeholder="last name"
                formControlName="lastName"
              />
            </mat-form-field>
          </div>
        </form>
      </div>

      <!-- <div class="example-container w-100">
        <mat-card-subtitle class="pb-1">
          Settings Group 2
        </mat-card-subtitle>

        <form>
          <mat-form-field appearance="fill" color="accent" class="w-100">
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput placeholder="Simple placeholder" required />
          </mat-form-field>

          <mat-form-field appearance="fill" color="accent" class="w-100">
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput placeholder="Simple placeholder" />
          </mat-form-field>
        </form>
      </div> -->
    </mat-card-content>
  </mat-card>
</div>
