<div class="d-flex col-12 px-0">
  <mat-card class="account__card mat-elevation-z0 mt-3 w-100">
    <mat-card-content>
      <div class="w-100">
        <!-- <mat-card-subtitle class="pb-1">
          User Account Information
        </mat-card-subtitle> -->

        <mat-card-subtitle class="pb-1 font-weight-bold">
          User account information is confidential and encrypted at all times.
          Privacy and security are of utmost importance at Adoya and user
          account data is never shared. For changes please contact
          <span (click)="onSupportClick()" class="primary clickable"
            >Adoya support</span
          >.
        </mat-card-subtitle>

        <form [formGroup]="accountForm">
          <div class="w-100 font-size-larger">
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>email</mat-label>
              <input
                readonly="true"
                matInput
                placeholder="email"
                formControlName="email"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>organization id</mat-label>
              <input
                readonly="true"
                matInput
                placeholder="organization id"
                formControlName="orgId"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>first name</mat-label>
              <input
                readonly="true"
                matInput
                placeholder="first name"
                formControlName="firstName"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary" class="w-100">
              <mat-label>last name</mat-label>
              <input
                readonly="true"
                matInput
                placeholder="last name"
                formControlName="lastName"
              />
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
