@import "variables.scss";

.workbench__card {
  //background-color: mat-color($adoya-web-accent);
  // background-color: #f1f5ee;
  //background-color: #dde5d4;
  // color: mat-color($adoya-web-primary);
  width: 100%;
  border-style: solid;
  border-color: mat-color($adoya-web-accent);
  border-radius: 0.5;
  border-width: 1px;
}

.workbench__field {
  background-color: mat-color($adoya-web-accent);
}

.workbench__buttons {
  width: 125px;
}
