<!-- <div class="h-100 d-flex flex-row"> -->
<mat-tab-group color="accent">
  <!--Bid Optimizations-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>tune</mat-icon>
      <span class="ml-2">Bid Optimizations</span>
    </ng-template>
    <div class="workbench__loading-shade" *ngIf="isLoadingResults">
      <mat-spinner color="accent" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="d-flex col-12 px-0">
      <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
        <mat-card-title class="pb-2">
          Bid Optimization Settings
          <button
            (click)="onResetForm()"
            mat-icon-button
            class="workbench__buttons float-right"
            mat-icon-button
          >
            <mat-icon aria-label="clear">clear</mat-icon>
            reset form
          </button>
          <button
            (click)="onAppleSubmit()"
            mat-icon-button
            class="workbench__buttons float-right"
            mat-icon-button
          >
            <mat-icon aria-label="clear">cloud_done</mat-icon>
            save changes
          </button>
        </mat-card-title>

        <mat-card-content>
          <div class="example-container w-100">
            <mat-card-subtitle class="mt-2 mb-2">
              Apple Search Ads Settings
            </mat-card-subtitle>

            <form [formGroup]="appleForm">
              <mat-form-field
                appearance="fill"
                [hideRequiredMarker]="false"
                class="w-100"
                color="accent"
                matTooltip="Objective determines how aggressive our system will bid to your cost per install target. We recommend allowing for 7 days of performance before changing your objective. Mouse over options for more detailed information on each strategy."
              >
                <mat-select required formControlName="objective">
                  <mat-option
                    matTooltip="Standard: Finds a balance between growth and efficiency goals and is recommended for most advertisers."
                    value="standard"
                    >Standard</mat-option
                  >
                  <mat-option
                    matTooltip="Growth: You’ll be more likely to spend your daily budget but could exceed your cost per install target."
                    value="agressive"
                    >Growth</mat-option
                  >
                  <mat-option
                    matTooltip="Efficiency: You’re more likely to stay within your cost per install target but you may not hit your daily budget."
                    value="conservative"
                    >Efficiency</mat-option
                  >
                </mat-select>
                <mat-label
                  ><mat-icon>settings</mat-icon>&nbsp;Objective</mat-label
                >
              </mat-form-field>
              <mat-form-field
                matTooltip="High Cost Per Install"
                appearance="fill"
                class="w-100"
                color="accent"
              >
                <mat-label
                  ><mat-icon>attach_money</mat-icon>&nbsp;High Cost Per
                  Install</mat-label
                >
                <input
                  formControlName="highCPI"
                  required
                  [readOnly]="true"
                  matInput
                  type="number"
                  placeholder="High CPI"
                />
              </mat-form-field>
            </form>
          </div>
          <div class="example-container w-100">
            <mat-card-subtitle class="mt-2 mb-2">
              Branch Settings
            </mat-card-subtitle>

            <form [formGroup]="branchForm">
              <mat-form-field
                appearance="fill"
                class="w-100 workbench__accent-field mb-1"
                matTooltip="Branch Objective: Use this option if you want our system to also optimize for in-app purchases. This will be a secondary objective as our system optimizes primarily for cost per install. If you have Branch enabled, we strongly recommend you select either Cost Per Purchase or Return On Ad Spend (ROAS). Mouse over options for more detailed information on each strategy."
              >
                <mat-select formControlName="branchObjective">
                  <mat-option
                    matTooltip="Cost Per Purchase: Use this option if you’re looking to acquire/retain paying customers and less focused on the revenue amount. This option works best if you’re taking a longer-term strategy with a focus on customer lifetime value (LTV)."
                    value="cost_per_purchase"
                    >Cost Per Purchase</mat-option
                  >
                  <mat-option
                    matTooltip="Return On Ad Spend (ROAS): Use this option if you’re looking to generate immediate revenue. ROAS is calculated by dividing revenue by cost."
                    value="revenue_over_ad_spend"
                    >Revenue/Cost</mat-option
                  >
                  <mat-option
                    matTooltip="None: Use this option if you want our system to only optimize for installs. (Not recommended if you have Branch enabled.)"
                    value="none"
                    >None</mat-option
                  >
                </mat-select>
                <mat-label
                  ><mat-icon>settings</mat-icon>&nbsp;Branch Optimization
                  Objective</mat-label
                >
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                class="w-100 workbench__accent-field mb-1"
              >
                <mat-label
                  ><mat-icon>attach_money</mat-icon>&nbsp;Cost Per Purchase
                  Threshold</mat-label
                >
                <input
                  formControlName="cppThreshold"
                  matInput
                  type="number"
                  placeholder="Cost Per Purchase Threshold"
                  matTooltip="Enter the most you’re willing to spend for a purchase. Be realistic. Setting a target too low will severely restrict your volume. Also, keep changes within +/- 20% of the previous value (if applicable). This prevents volatility. Also, try to allow for 7 days of performance before making adjustments.
                  Important: This factors in mobile measurement partner (MMP) data. Apple limits data passed through MMPs due to their privacy policies. Therefore, MMP data is often understated. Sometimes by 20% or more. Factor in that 20% when using this option. For example, if your target cost per purchase is $10, give it a 20% buffer and set the target to $12."
                />
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                class="w-100 workbench__accent-field mb-1"
              >
                <mat-label
                  ><mat-icon>attach_money</mat-icon>&nbsp;Revenue Over Ad
                  Spend</mat-label
                >
                <input
                  formControlName="revenueOverSpend"
                  matInput
                  type="number"
                  placeholder="Revenue Over Ad Spend"
                  matTooltip="Enter your target ROAS. ROAS formula = revenue / cost. Be realistic. Setting a target too high will severely restrict your volume. Also, keep changes within +/- 20% of the previous value (if applicable). This prevents volatility. Also, try to allow for 7 days of performance before making adjustments.
                  Important: This factors in mobile measurement partner (MMP) data. Apple limits data passed through MMPs due to their privacy policies. Therefore, MMP data is often understated. Sometimes by 20% or more. Factor in that 20% when using this option. For example, if your target ROAS is $2.00, give it a 20% discount and set it to $1.60. Formula for ROAS discount = (100% - 20%) x ROAS target."
                />
              </mat-form-field>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <!--Other preferences-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>build</mat-icon>
      <span class="ml-2">Preferences</span>
    </ng-template>
    <div class="workbench__loading-shade" *ngIf="isLoadingResults">
      <mat-spinner color="accent" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="d-flex col-12 px-0">
      <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
        <mat-card-title class="pb-2">
          Application Preferences
          <button
            (click)="onResetForm()"
            mat-icon-button
            class="workbench__buttons float-right"
            mat-icon-button
          >
            <mat-icon aria-label="clear">clear</mat-icon>
            reset form
          </button>
          <button
            (click)="onPreferencesSubmit()"
            mat-icon-button
            class="workbench__buttons float-right"
            mat-icon-button
          >
            <mat-icon aria-label="clear">cloud_done</mat-icon>
            save changes
          </button>
        </mat-card-title>
        <mat-card-content>
          <div class="example-container w-100">
            <form [formGroup]="preferencesForm">
              <mat-card-subtitle class="mt-2 mb-2">
                Comma seperated list of email addresses for any individuals who
                should receive daily performance summaries.
              </mat-card-subtitle>

              <mat-form-field
                appearance="fill"
                class="w-100 workbench__accent-field"
                color="accent"
              >
                <mat-label
                  ><mat-icon>settings</mat-icon>&nbsp;Reporting
                  Emails</mat-label
                >
                <input
                  formControlName="emailAddresses"
                  required
                  matInput
                  type="text"
                  placeholder="Add email addresses seperated by comma"
                />
              </mat-form-field>
            </form>
          </div>

          <!-- <div class="example-container w-100">
            <mat-card-subtitle class="mt-2 mb-2">
              Settings Group 3
            </mat-card-subtitle>

             <form>
            <mat-form-field appearance="fill" class="w-100 workbench__field">
              <mat-label>Both a label and a placeholder</mat-label>
              <input
                [readOnly]="true"
                matInput
                placeholder="Simple placeholder"
              />
            </mat-form-field>
            </form>
           </div> -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
