<footer class="footer">
    <div class="footer__container flex-column">
        <section class="footer__links-section flex-row">
            <a
                href="https://www.jtv.com/help/terms"
                rel="nofollow"
                title="Terms and Conditions"
                class="links"
                >Terms &amp; Conditions</a
            >
            <a
                href="https://www.jtv.com/help/privacy-policy"
                rel="nofollow"
                title="Privacy Policy"
                class="links"
            >
                Privacy Policy
            </a>
            <a href="https://www.jtv.com/sitemap" title="Sitemap" class="links">Sitemap</a>
        </section>
        <section class="footer__copyright-section">
            <p>
                ©2000-{{ today | date: 'yyyy' }} America's Collectibles Network, Inc.
                <span> All Rights Reserved. </span>
            </p>
        </section>
    </div>
</footer>
