<mat-tab-group color="accent">
  <!--CPI reporting-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>leaderboard</mat-icon>
      <span class="ml-2">Aggregate Performance</span>
    </ng-template>
    <div class="reporting__loading-shade" *ngIf="isLoadingResults">
      <mat-spinner color="accent" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="mat-elevation-z8 mt-2 reporting-component__table-container">
      <div class="d-flex justify-content-start">
        <mat-form-field class="mr-4">
          <mat-label>start date</mat-label>
          <input
            matInput
            [formControl]="startPickerInputControl"
            [matDatepicker]="startpicker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mr-4">
          <mat-label>end date</mat-label>
          <input
            matInput
            [formControl]="endPickerInputControl"
            [matDatepicker]="endpicker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>

        <div>
          <button
            [disabled]="filterByDateDisabled()"
            mat-icon-button
            class="reporting__buttons"
            (click)="filterByDate()"
            mat-icon-button
          >
            <mat-icon aria-label="save">filter_alt</mat-icon>
            filter by date
          </button>
        </div>

        <div>
          <button
            mat-icon-button
            class="reporting__buttons"
            (click)="resetDateForms()"
            mat-icon-button
          >
            <mat-icon aria-label="clear">clear</mat-icon>
            clear filters
          </button>
        </div>

        <!-- <div>
          <button
            mat-icon-button
            class="reporting__buttons ml-1"
            mat-icon-button
          >
            <mat-icon class="ml-2" aria-label="download">show_chart</mat-icon>
            visualization
          </button>
        </div> -->

        <div>
          <button
            (click)="downloadAggregateCsv()"
            mat-icon-button
            class="reporting__buttons ml-2"
            mat-icon-button
          >
            <mat-icon class="ml-2" aria-label="download">save_alt</mat-icon>
            csv download
          </button>
        </div>
      </div>

      <mat-paginator
        [pageSizeOptions]="[25, 50, 100, 365]"
        showFirstLastButtons
        class="reporting__paginator"
      >
      </mat-paginator>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="timestamp"
        matSortDirection="desc"
      >
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Timestamp
          </th>
          <td mat-cell *matCellDef="let element">{{ element.timestamp }}</td>
        </ng-container>

        <ng-container matColumnDef="spend">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Cost
          </th>
          <td mat-cell *matCellDef="let element">{{ element.spend }}</td>
        </ng-container>

        <ng-container matColumnDef="installs">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Installs
          </th>
          <td mat-cell *matCellDef="let element">{{ element.installs }}</td>
        </ng-container>

        <ng-container matColumnDef="cpi">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Cost Per Install
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cpi }}</td>
        </ng-container>

        <ng-container matColumnDef="purchases">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Purchases
          </th>
          <td mat-cell *matCellDef="let element">{{ element.purchases }}</td>
        </ng-container>

        <ng-container matColumnDef="revenue">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Revenue
          </th>
          <td mat-cell *matCellDef="let element">{{ element.revenue }}</td>
        </ng-container>

        <ng-container matColumnDef="cpp">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Cost Per Purchase
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cpp }}</td>
        </ng-container>

        <ng-container matColumnDef="revenueOverCost">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Return On Ad Spend
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.revenueOverCost }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-tab>
  <!--Keywords reporting-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>insights</mat-icon><span class="ml-2">Keyword Performance</span>
    </ng-template>
    <div class="reporting__loading-shade" *ngIf="isLoadingResults">
      <mat-spinner color="accent" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="mat-elevation-z8 mt-2 reporting-component__table-container">
      <div class="d-flex justify-content-start">
        <mat-form-field class="mr-4">
          <mat-label>start date</mat-label>
          <input matInput [disabled]="true" />
          <mat-datepicker #disabledstartpicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mr-4">
          <mat-label>end date</mat-label>
          <input matInput [disabled]="true" />

          <mat-datepicker #disabledendpicker></mat-datepicker>
        </mat-form-field>

        <div>
          <button
            [disabled]="true"
            mat-icon-button
            class="reporting__buttons"
            (click)="filterByDate()"
            mat-icon-button
          >
            <mat-icon aria-label="save">filter_alt</mat-icon>
            filter by date
          </button>
        </div>

        <div>
          <button
            mat-icon-button
            class="reporting__buttons"
            (click)="resetKeywordFilters()"
            mat-icon-button
          >
            <mat-icon aria-label="clear">clear</mat-icon>
            clear filters
          </button>
        </div>

        <!-- <div>
          <button
            mat-icon-button
            class="reporting__buttons ml-2"
            mat-icon-button
          >
            <mat-icon class="ml-1" aria-label="download">show_chart</mat-icon>
            visualization
          </button>
        </div> -->

        <div>
          <button
            (click)="downloadKeywordsCsv()"
            mat-icon-button
            class="reporting__buttons ml-2"
            mat-icon-button
          >
            <mat-icon class="ml-1" aria-label="download">save_alt</mat-icon>
            csv download
          </button>
        </div>
      </div>

      <mat-paginator
        #keywordsPaginator
        [pageSizeOptions]="[100, 250, 500, 1000, 10000]"
        class="reporting__paginator"
      >
      </mat-paginator>

      <table
        mat-table
        [dataSource]="keywordDataSource"
        matSort
        matSortActive="date"
        matSortDirection="desc"
      >
        <ng-container matColumnDef="date">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Date
          </th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="keyword_id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Keyword ID
          </th>
          <td mat-cell *matCellDef="let element">{{ element.keyword_id }}</td>
        </ng-container>

        <ng-container matColumnDef="keyword">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Keyword
          </th>
          <td mat-cell *matCellDef="let element">{{ element.keyword }}</td>
        </ng-container>

        <ng-container matColumnDef="matchType">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Match Type
          </th>
          <td mat-cell *matCellDef="let element">{{ element.matchType }}</td>
        </ng-container>

        <ng-container matColumnDef="keywordDisplayStatus">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Status
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.keywordDisplayStatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="local_spend">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Cost
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.local_spend }}
          </td>
        </ng-container>

        <ng-container matColumnDef="installs">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Installs
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.installs }}
          </td>
        </ng-container>

        <ng-container matColumnDef="avg_cpa">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Cost Per Install
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.avg_cpa }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedKeywordColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedKeywordColumns"></tr>
      </table>
    </div>
    <!-- <div class="container px-2">
      <mat-chip-list class="mat-chip-list-stacked pt-2">
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
      </mat-chip-list>
    </div> -->
  </mat-tab>
</mat-tab-group>
