::ng-deep .reporting-component__table-container {
  .mat-paginator-container {
    justify-content: left !important;
  }
  .mat-cell {
    width: 150px;
  }
  .mat-table {
    width: 100%;
  }
}

// ::ng-deep .mat-chip-list-stacked {
//   max-width: 150px !important;
// }

::ng-deep .mat-chip-list-wrapper {
  padding: 1rem;
}

::ng-deep .mat-chip-list-stacked .mat-chip-list-wrapper .mat-standard-chip {
  width: inherit !important;
  padding: 1rem;
}
