<mat-tab-group color="accent">
  <!--CPI reporting-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>history</mat-icon>
      <span class="ml-2">Cost Per Install History</span>
    </ng-template>
    <div class="reporting__loading-shade" *ngIf="isLoadingResults">
      <mat-spinner color="accent" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="mat-elevation-z8 mt-2 reporting-component__table-container">
      <div class="d-flex justify-content-start">
        <mat-form-field class="mr-4">
          <mat-label>List length</mat-label>
          <input matInput (blur)="lengthChanged($event)" type="number" />
        </mat-form-field>

        <mat-form-field class="mr-4">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startpicker"
            (dateInput)="addEvent('input', $event)"
            (dateChange)="addEvent('change', $event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mr-4">
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="endpicker"
            (dateInput)="addEvent('input', $event)"
            (dateChange)="addEvent('change', $event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-paginator
        [pageSizeOptions]="[25, 50, 100, 365]"
        showFirstLastButtons
        class="reporting__paginator"
      >
      </mat-paginator>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="timestamp"
        matSortDisableClear
        matSortDirection="desc"
      >
        <!-- timestamp Column -->
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            Timestamp
          </th>
          <td mat-cell *matCellDef="let element">{{ element.timestamp }}</td>
        </ng-container>

        <!-- cpi column -->
        <ng-container matColumnDef="cpi">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            CPI
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cpi }}</td>
        </ng-container>

        <!-- installs column -->
        <ng-container matColumnDef="installs">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            Installs
          </th>
          <td mat-cell *matCellDef="let element">{{ element.installs }}</td>
        </ng-container>

        <!-- cpi column -->
        <ng-container matColumnDef="revenue">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            Revenue
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cpi }}</td>
        </ng-container>

        <!-- installs column -->
        <ng-container matColumnDef="commerce-events">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            Commerce Events
          </th>
          <td mat-cell *matCellDef="let element">{{ element.installs }}</td>
        </ng-container>

        <!-- orgId Column -->
        <!-- <ng-container matColumnDef="orgId">
          <th mat-header-cell *matHeaderCellDef>Org Id</th>
          <td mat-cell *matCellDef="let element">{{ element.orgId }}</td>
        </ng-container> -->

        <!-- spend Column -->
        <ng-container matColumnDef="spend">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            Spend
          </th>
          <td mat-cell *matCellDef="let element">{{ element.spend }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-tab>
  <!--Keywords reporting-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>thumb_up</mat-icon><span class="ml-2">Positive Keywords</span>
    </ng-template>
    <div class="container px-2">
      <mat-chip-list class="mat-chip-list-stacked pt-2">
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
      </mat-chip-list>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>thumb_down</mat-icon><span class="ml-2">Negative Keywords</span>
    </ng-template>
    <h1>Negative Keywords here</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>
