.logo {
  max-width: 75px;
}

.splash__container {
  ::ng-deep {
    .mat-list-base .mat-list-item {
      height: 60px !important;
    }
    .mat-list-item-content {
      justify-content: center;
    }
  }
}

.splash__subcontainer {
  ::ng-deep {
    .mat-list-item-content {
      justify-content: flex-start;
    }
  }
}

.background-image-1 {
  background-image: url("../../../../assets/images/pexels-lukas-590022.jpg");
  background-size: cover;
  height: 400px;
}
