.logo {
  max-width: 75px;
}

.splash__container {
  ::ng-deep {
    .mat-list-base .mat-list-item {
      height: 60px !important;
    }
    .mat-list-item-content {
      justify-content: center;
    }
  }
}
