<div class="d-flex flex-row flex-wrap px-0 splash__container">
  <app-home-site-menu activeButton="Start"></app-home-site-menu>
  <div class="z-index-1" class="w-100" [ngStyle]="{ 'margin-top': '185px' }">
    <div class="p-0">
      <div
        class="d-flex flex-row mt-0 justify-content-center splash__subcontainer"
      >
        <div class="col-12 p-2">
          <mat-card class="mat-elevation-z0 w-100">
            <mat-card-title class="py-1 ml-4 text-muted"
              >Enhance Apple Search Ads ROI</mat-card-title
            >

            <mat-divider></mat-divider>
            <div class="d-flex flex-row">
              <div class="col-6 pl-0 ml-0">
                <mat-list>
                  <mat-list-item>
                    <span class="font-size-larger pl-2"
                      >Look Beyond Installs, Focus on Profitability
                    </span>
                    <mat-icon class="pl-2 text-muted"
                      >sentiment_satisfied</mat-icon
                    >
                  </mat-list-item>
                  <mat-list-item>
                    <span class="font-size-larger pl-2">
                      Adoya optimizes Apple Search Ads installs and in-app
                      performance</span
                    >
                    <mat-icon class="pl-2 text-muted"
                      >data_exploration</mat-icon
                    >
                  </mat-list-item>
                  <mat-list-item>
                    <span class="font-size-larger pl-2">
                      Built-in best practices and simple, intuitive management
                      tools</span
                    >
                    <mat-icon class="pl-2 text-muted">build_circle</mat-icon>
                  </mat-list-item>
                </mat-list>
                <div class="mt-2">
                  <button
                    mat-raised-button
                    color="primary"
                    class="w-auto ml-4 mt-2"
                    (click)="homesiteFacade.handleContactClick()"
                  >
                    <span class="text-light pl-1">Request a demo</span>
                    <mat-icon class="text-light">navigate_next</mat-icon>
                  </button>
                </div>
              </div>

              <div class="col-6 text-center background-image-1">
                <!-- <img
                      class="border small-image float-right"
                      src="../../../assets/images/app.png"
                    /> -->

                <!-- <img
                  class="border med-image mt-3 pt-2"
                  src="../../../assets/images/hero-1.png"
                /> -->
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap px-0 w-100">
      <!-- plans -->
      <div class="col-12">
        <app-plans></app-plans>
      </div>

      <div class="col-12">
        <app-homesite-partners></app-homesite-partners>
      </div>

      <!-- optimization -->
      <div class="col-12">
        <app-optimizations-carousel></app-optimizations-carousel>
      </div>

      <!-- reporting -->
      <div class="col-12">
        <app-reporting-carousel></app-reporting-carousel>
      </div>

      <!-- mmps -->
      <div class="col-12">
        <app-mmp-carousel></app-mmp-carousel>
      </div>

      <!-- testimonial -->
      <div class="col-12">
        <app-testimonial-carousel></app-testimonial-carousel>
      </div>
    </div>
  </div>
</div>
