@import "variables.scss";

.workbench__card {
  border-style: solid;
  border-color: mat-color($adoya-web-accent);
  border-radius: 0.5;
  border-width: 1px;
}

.workbench_campaign__card {
  border-style: solid;
  border-color: mat-color($adoya-web-accent);
  border-radius: 0.5;
  border-width: 1px;

  &-active {
    border-style: solid;
    border-color: mat-color($adoya-web-accent);
    border-radius: 0.5;
    border-width: 1px;
    // background-color: #f1f5ee;
    background-color: #dde5d4;
    // background-color: #708d53;
  }

  &-dirty {
    // background-color: #a3ff54;
    // background-color: #b0ff6e;
    // background-color: #c6d4b8;
    // background-color: #dde5d4;
    // background-color: #ccffa1;
    background-color: #f1f5ee !important;
  }

  &-disabled {
    background-color: lightgray;
  }
}

// .workbench_campaign__card:hover {
//   background-color: #f1f5ee;
// }

.workbench_campaign__card:hover:not(.workbench_campaign__card-dirty) {
  background-color: #f1f5ee;
}

.workbench__accent-field {
  background-color: mat-color($adoya-web-accent);
}

// .workbench__disabled-field {
//   background-color: gray;
// }

// .workbench__disabled-control {
//   background-color: gray;
// }

.workbench__buttons {
  width: 125px;
}
