<mat-tab-group color="accent">
  <!--Bid Optimizations-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>tune</mat-icon>
      <span class="ml-2">Install Optimizations</span>
    </ng-template>

    <div class="workbench__loading-shade" *ngIf="isLoadingResults">
      <mat-spinner color="accent" strokeWidth="6.5"></mat-spinner>
    </div>
    <div class="workbench__sending" *ngIf="isSendingResults">
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="d-flex col-12 px-0">
      <!-- bid optimizaitons card -->
      <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
        <mat-card-title class="pb-2">
          <!-- Bid Optimization Settings For Installs -->
          <button
            (click)="onResetForm()"
            [disabled]="undoDisabled()"
            mat-button
            class="workbench__buttons float-right"
          >
            <mat-icon
              [ngClass]="undoDisabled() ? '' : 'adoya-web-primary'"
              aria-label="reset"
              >refresh</mat-icon
            >
            <span [ngClass]="undoDisabled() ? '' : 'adoya-web-primary'"
              >undo changes</span
            >
          </button>

          <button
            (click)="onAppleSubmit()"
            [disabled]="appleSubmitDisabled()"
            mat-button
            class="workbench__buttons float-right"
          >
            <mat-icon
              [ngClass]="appleSubmitDisabled() ? '' : 'adoya-web-primary'"
              aria-label="save"
              >cloud_done</mat-icon
            >
            <span [ngClass]="appleSubmitDisabled() ? '' : 'adoya-web-primary'">
              save changes</span
            >
          </button>
        </mat-card-title>

        <!-- apple form -->
        <form [formGroup]="appleForm">
          <mat-card-content>
            <div class="w-100">
              <mat-card-subtitle class="mt-2 mb-2 font-weight-bold">
                Apple Search Ads Settings
              </mat-card-subtitle>

              <mat-label class="d-block mb-2">
                Set Default Objective and Target CPI
              </mat-label>

              <div class="w-100 d-flex flex-row justify-content-between">
                <div class="col-6">
                  <!-- field and icon -->
                  <div class="w-100 no-gutters">
                    <mat-form-field
                      appearance="fill"
                      [hideRequiredMarker]="false"
                      class="col-11"
                      color="accent"
                    >
                      <mat-select required formControlName="objective">
                        <mat-option
                          matTooltip="Standard: &#13; Finds a balance between growth and efficiency goals and is recommended for most advertisers."
                          value="standard"
                          >Standard</mat-option
                        >
                        <mat-option
                          matTooltip="Growth: &#13; You’ll be more likely to spend your daily budget but could exceed your cost per install target."
                          value="aggressive"
                          >Growth</mat-option
                        >
                        <mat-option
                          matTooltip="Efficiency: &#13;  You’re more likely to stay within your cost per install target but you may not hit your daily budget."
                          value="conservative"
                          >Efficiency</mat-option
                        >
                      </mat-select>
                      <mat-label
                        ><mat-icon>settings</mat-icon>&nbsp;Objective</mat-label
                      >
                    </mat-form-field>

                    <mat-icon
                      color="accent"
                      matTooltip="Objective: &#13; Determines how aggressive our system will bid to your cost per install target. &#13; &#13; We recommend allowing for 7 days of performance before changing your objective. &#13; &#13; Mouse over options for more detailed information on each strategy."
                      >help</mat-icon
                    >
                  </div>

                  <div class="w-100 no-gutters">
                    <!--- Max CPI -->
                    <mat-form-field
                      appearance="fill"
                      class="col-11"
                      color="accent"
                    >
                      <mat-label
                        ><mat-icon>attach_money</mat-icon>&nbsp;Target Cost Per
                        Install</mat-label
                      >
                      <input
                        formControlName="cpi"
                        required
                        matInput
                        type="number"
                        placeholder="Target Cost Per Install"
                      />
                      <mat-error>
                        Must enter a number between .1 and 1,000
                      </mat-error>
                    </mat-form-field>

                    <mat-icon
                      color="accent"
                      matTooltip="Target Cost Per Install: &#13;  Enter the most you’re willing to spend for an install. &#13; &#13; Be realistic. Setting target too low will severely restrict your volume.  &#13; &#13; Keep changes +/- 20% of the previous value (if applicable). This prevents volatility. &#13; &#13; Also, try to allow for 7 days of performance before making adjustments."
                      >help</mat-icon
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- campaigns title -->
            <mat-card-subtitle class="mt-2 mb-2 font-weight-bold">
              Campaign Settings

              <button
                class="float-right"
                mat-button
                (click)="$event.preventDefault(); accordion.openAll()"
              >
                <mat-icon color="accent">expand_more</mat-icon>Expand All
              </button>
              <button
                class="float-right"
                mat-button
                (click)="$event.preventDefault(); accordion.closeAll()"
              >
                <mat-icon color="accent">expand_less</mat-icon>Collapse All
              </button>
            </mat-card-subtitle>

            <!-- campaigns subtitle  -->
            <mat-label class="d-block">
              Set Campaign specific Objective and Target CPI
            </mat-label>

            <!-- campaigns  -->
            <div class="w-100">
              <mat-accordion multi class="col-2">
                <ng-container
                  *ngFor="let campaign of client?.orgDetails?.appleCampaigns"
                >
                  <!-- campaigns panels -->
                  <mat-expansion-panel
                    class="mat-elevation-z0 mt-1 m-2 text-center"
                    [class.disabled]="campaign.status === ''"
                    [ngClass]="[
                      hasBidParameters(campaign)
                        ? 'workbench_campaign__card-active'
                        : 'workbench_campaign__card',
                      campaign.status === 'PAUSED'
                        ? 'workbench_campaign__card-disabled'
                        : '',
                      isCampaignDirty(campaign)
                        ? 'workbench_campaign__card-dirty'
                        : ''
                    ]"
                    *ngIf="!isSearchCampaign(campaign)"
                  >
                    <mat-expansion-panel-header>
                      <div>
                        <mat-icon
                          *ngIf="campaign.status === 'ENABLED'; else pausedIcon"
                          color="accent"
                          class="align-middle"
                          >play_arrow</mat-icon
                        >
                        <ng-template #pausedIcon>
                          <mat-icon class="align-middle">pause</mat-icon>
                        </ng-template>
                        {{ campaign.campaignName }} ({{ campaign.campaignId }})
                      </div>
                    </mat-expansion-panel-header>

                    <div
                      class="
                        d-flex
                        flex-row flex-wrap
                        no-gutters
                        justify-content-start
                      "
                    >
                      <div class="w-100 d-flex justify-content-start p-2">
                        <mat-slide-toggle
                          color="accent"
                          [formControlName]="'status' + campaign.campaignId"
                          >Enable</mat-slide-toggle
                        >
                      </div>
                      <div class="col-6">
                        <!-- field and icon -->
                        <div class="w-100 no-gutters">
                          <!--- daily Budget -->
                          <mat-form-field
                            appearance="fill"
                            class="col-11 ml-1"
                            color="accent"
                          >
                            <mat-label
                              ><mat-icon>attach_money</mat-icon>&nbsp;Daily
                              Budget Cap</mat-label
                            >
                            <input
                              [formControlName]="
                                'dailyBudget' + campaign.campaignId
                              "
                              matInput
                              type="number"
                              placeholder=""
                            />

                            <mat-error>
                              {{
                                dailyBudgetError(
                                  "dailyBudget" + campaign.campaignId
                                )
                              }}
                            </mat-error>
                          </mat-form-field>

                          <mat-icon
                            color="accent"
                            matTooltip="Daily Budget Cap: &#13; Enter the amount you're willing to spend per day. &#13; &#13; You know your business so you should enter what you feel is best. But if you need a guide, we suggest the following approach: &#13; # of installs you want to get per day x maximum cost per install x 10-20% buffer. Let's say you're targeting 100 installs at a $2 maximum cost per install. Your budget should be $220-$240 (100 x $2 x 120%-140%). &#13; &#13; Don't worry! You can change your daily budget cap at any time."
                            >help</mat-icon
                          >
                        </div>

                        <!-- field and icon -->
                        <div class="w-100 no-gutters">
                          <!--- Lifetime Budget -->
                          <mat-form-field
                            appearance="fill"
                            class="col-11 ml-1"
                            color="accent"
                          >
                            <mat-label
                              ><mat-icon>attach_money</mat-icon>&nbsp;Lifetime
                              Budget Cap</mat-label
                            >
                            <input
                              [formControlName]="
                                'lifetimeBudget' + campaign.campaignId
                              "
                              matInput
                              type="number"
                              placeholder=""
                            />
                            <mat-error>
                              {{
                                lifetimeBudgetError(
                                  campaign.campaignType,
                                  "lifetimeBudget" + campaign.campaignId
                                )
                              }}
                            </mat-error>
                          </mat-form-field>

                          <mat-icon
                            color="accent"
                            matTooltip="Lifetime Budget: &#13; Enter the amount you're willing to spend for the life of your Apple Search Ads campaigns. When starting, set it sufficiently high enough so it can run for a total of 30 days. This gives the system enough data and time to optimize. A simple formula, take your daily budget and multiply it by 30. So if your daily budget is $100, your lifetime budget should be $3,000. &#13; &#13; After your campaign has been running for some time you should raise your lifetime budget significantly higher. &#13; &#13; Don't worry! You can change your lifetime budget cap at any time. &#13; &#13; IMPORTANT: Your lifetime budget must be higher than your daily budget cap."
                            >help</mat-icon
                          >
                        </div>
                      </div>

                      <div class="col-6">
                        <!-- field and icon -->
                        <div class="w-100 no-gutters">
                          <mat-form-field appearance="fill" class="col-11">
                            <mat-select
                              [formControlName]="'gender' + campaign.campaignId"
                              class="p-1"
                            >
                              <mat-option value="all"
                                >All (recommended)</mat-option
                              >
                              <mat-option value="female">Female</mat-option>
                              <mat-option value="male">Male</mat-option>
                            </mat-select>
                            <mat-label
                              ><mat-icon>settings</mat-icon>&nbsp;Which genders
                              do you want to target?</mat-label
                            >
                          </mat-form-field>

                          <mat-icon
                            color="accent"
                            matTooltip="Unless you have strict gender targeting restrictions, we recommend 'All' to maximize your reach."
                            >help</mat-icon
                          >
                        </div>

                        <!-- field and icon -->
                        <div class="w-100 no-gutters">
                          <mat-form-field appearance="fill" class="col-11">
                            <mat-select
                              [formControlName]="'minAge' + campaign.campaignId"
                              class="p-1"
                            >
                              <mat-option value="all"
                                >All (recommended)</mat-option
                              >
                              <mat-option value="18">18 +</mat-option>
                              <mat-option value="21">21 +</mat-option>
                            </mat-select>
                            <mat-label
                              ><mat-icon>settings</mat-icon>&nbsp;What's your
                              app's minimum age requirement?</mat-label
                            >
                          </mat-form-field>

                          <mat-icon
                            color="accent"
                            matTooltip="Unless you have strict age targeting restrictions, we recommend 'All' to maximize your reach."
                            >help</mat-icon
                          >
                        </div>
                      </div>
                    </div>

                    <div
                      class="
                        d-flex
                        flex-row flex-wrap
                        no-gutters
                        justify-content-start
                      "
                    >
                      <div class="col-6 p-0">
                        <!--checkbox div asa -->
                        <div class="text-left mb-2 p-0 w-100 no-gutters">
                          <mat-checkbox
                            (change)="
                              handleCampaignCheckboxChange($event, campaign)
                            "
                            [formControlName]="'checkbox' + campaign.campaignId"
                          >
                          </mat-checkbox>
                          Enable Campaign Level Overrides for Bid Optimizations
                        </div>

                        <!--form div asa -->
                        <div class="p-0 w-100 no-gutters">
                          <mat-form-field
                            class="col-11"
                            [ngClass]="
                              isControlDisabled('cpi' + campaign.campaignId)
                                ? 'd-none'
                                : 'visisble'
                            "
                            appearance="fill"
                            color="accent"
                          >
                            <mat-label
                              ><mat-icon>attach_money</mat-icon>&nbsp;Target
                              Cost Per Install</mat-label
                            >
                            <input
                              [formControlName]="'cpi' + campaign.campaignId"
                              matInput
                              type="number"
                              placeholder="Target Cost Per Install"
                            />
                            <mat-error>
                              Must enter a number between .1 and 1,000
                            </mat-error>
                          </mat-form-field>

                          <mat-icon
                            color="accent"
                            [ngClass]="
                              isControlDisabled('cpi' + campaign.campaignId)
                                ? 'd-none'
                                : 'visisble'
                            "
                            matTooltip="Target Cost Per Install: &#13;  Enter the most you’re willing to spend for an install. &#13; &#13; Be realistic. Setting target too low will severely restrict your volume.  &#13; &#13; Keep changes +/- 20% of the previous value (if applicable). This prevents volatility. &#13; &#13; Also, try to allow for 7 days of performance before making adjustments."
                            >help</mat-icon
                          >
                        </div>

                        <div class="p-0 w-100 no-gutters">
                          <mat-form-field
                            class="col-11"
                            [ngClass]="
                              isControlDisabled(
                                'objective' + campaign.campaignId
                              )
                                ? 'd-none'
                                : 'visisble'
                            "
                            appearance="fill"
                            color="accent"
                          >
                            <mat-select
                              [formControlName]="
                                'objective' + campaign.campaignId
                              "
                            >
                              <mat-option
                                matTooltip="Standard: &#13; Finds a balance between growth and efficiency goals and is recommended for most advertisers."
                                value="standard"
                                >Standard</mat-option
                              >
                              <mat-option
                                matTooltip="Growth: &#13; You’ll be more likely to spend your daily budget but could exceed your cost per install target."
                                value="aggressive"
                                >Growth</mat-option
                              >
                              <mat-option
                                matTooltip="Efficiency: &#13;  You’re more likely to stay within your cost per install target but you may not hit your daily budget."
                                value="conservative"
                                >Efficiency</mat-option
                              >
                            </mat-select>
                            <mat-label
                              ><mat-icon>settings</mat-icon
                              >&nbsp;Objective</mat-label
                            >
                          </mat-form-field>

                          <mat-icon
                            color="accent"
                            [ngClass]="
                              isControlDisabled(
                                'objective' + campaign.campaignId
                              )
                                ? 'd-none'
                                : 'visisble'
                            "
                            matTooltip="Objective: &#13; Determines how aggressive our system will bid to your cost per install target. &#13; &#13; We recommend allowing for 7 days of performance before changing your objective. &#13; &#13; Mouse over options for more detailed information on each strategy."
                            >help</mat-icon
                          >
                        </div>
                      </div>

                      <!--campaign mmp -->
                      <div *ngIf="!isBranchFormDisabled()" class="col-6 p-0">
                        <!-- checkbox mmmp -->
                        <div class="text-left mb-2 p-0">
                          <mat-checkbox
                            (change)="
                              handleCampaignMmpCheckboxChange($event, campaign)
                            "
                            [formControlName]="
                              'mmpCheckbox' + campaign.campaignId
                            "
                          >
                          </mat-checkbox>
                          Enable Campaign Level Overrides for Post-Install
                          Optimizations
                        </div>

                        <!--form mmp -->
                        <div class="p-0">
                          <mat-form-field
                            [ngClass]="
                              isControlDisabled(
                                'mmpObjective' + campaign.campaignId
                              )
                                ? 'd-none'
                                : 'visisble'
                            "
                            class="float-left mr-2"
                            appearance="fill"
                            matTooltip="MMP Objective: &#13; Use this option if you want our system to also optimize for in-app purchases. &#13; &#13; This will be a secondary objective as our system optimizes primarily for cost per install. &#13; &#13; If you have MMP enabled, we strongly recommend you select either Cost Per Purchase or Return On Ad Spend (ROAS). &#13; &#13; Mouse over options for more detailed information on each strategy."
                          >
                            <mat-select
                              [formControlName]="
                                'mmpObjective' + campaign.campaignId
                              "
                              (selectionChange)="
                                handleCampaignMmpObjectiveChange(
                                  $event,
                                  campaign
                                )
                              "
                              class="p-1"
                            >
                              <mat-option
                                matTooltip="Cost Per Purchase: &#13;  Use this option if you’re looking to acquire/retain paying customers and less focused on the revenue amount. &#13; &#13; This option works best if you’re taking a longer-term strategy with a focus on customer lifetime value (LTV)."
                                value="cost_per_purchase"
                                >Cost Per Purchase</mat-option
                              >
                              <mat-option
                                matTooltip="Return On Ad Spend (ROAS): &#13;  Use this option if you’re looking to generate immediate revenue. &#13; &#13; ROAS is calculated by dividing revenue by cost."
                                value="revenue_over_ad_spend"
                                >Revenue/Cost</mat-option
                              >
                            </mat-select>
                            <mat-label
                              ><mat-icon>settings</mat-icon>&nbsp;MMP
                              Optimization Objective</mat-label
                            >
                          </mat-form-field>
                          <mat-form-field
                            class="float-left mr-2"
                            appearance="fill"
                            [ngClass]="
                              isControlDisabled('cpp' + campaign.campaignId)
                                ? 'd-none'
                                : 'visisble'
                            "
                          >
                            <mat-label>
                              <mat-icon>attach_money</mat-icon>&nbsp;Target Cost
                              Per Purchase
                            </mat-label>
                            <input
                              class="p-1"
                              [formControlName]="'cpp' + campaign.campaignId"
                              matInput
                              type="number"
                              placeholder="Target Cost Per Purchase"
                              matTooltip="Enter the most you’re willing to spend for a purchase. &#13; &#13; Be realistic. Setting a target too low will severely restrict your volume. &#13; &#13; Keep changes within +/- 20% of the previous value (if applicable). This prevents volatility. Also, try to allow for 7 days of performance before making adjustments. &#13; &#13;
                                   Important: This factors in mobile measurement partner (MMP) data. &#13; &#13; Apple limits data passed through MMPs due to their privacy policies. Therefore, MMP data is often understated. &#13; &#13; Sometimes by 20% or more. Factor in that 20% when using this option. &#13; &#13; For example, if your target cost per purchase is $10, give it a 20% buffer and set the target to $12."
                            />
                            <mat-error>
                              Must enter a number between .1 and 1,000
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field
                            class="float-left mr-2"
                            [ngClass]="
                              isControlDisabled('roas' + campaign.campaignId)
                                ? 'd-none'
                                : 'visisble'
                            "
                            appearance="fill"
                            [ngClass]="isBranchFormDisabled() ? '' : ''"
                          >
                            <mat-label
                              ><mat-icon>attach_money</mat-icon>&nbsp;Target
                              Return On Ad Spend</mat-label
                            >
                            <input
                              class="p-1"
                              [formControlName]="'roas' + campaign.campaignId"
                              matInput
                              type="number"
                              placeholder="Target Return On Ad Spend"
                              matTooltip="Enter your target ROAS. ROAS formula = revenue / cost. &#13; &#13; Be realistic. Setting a target too high will severely restrict your volume. &#13; &#13; Keep changes within +/- 20% of the previous value (if applicable). This prevents volatility. &#13; &#13; Also, try to allow for 7 days of performance before making adjustments. &#13; &#13;
                                   Important: This factors in mobile measurement partner (MMP) data. &#13; &#13; Apple limits data passed through MMPs due to their privacy policies. Therefore, MMP data is often understated. &#13; &#13; Sometimes by 20% or more. Factor in that 20% when using this option. &#13; &#13; For example, if your target ROAS is $2.00, give it a 20% discount and set it to $1.60. Formula for ROAS discount = (100% - 20%) x ROAS target."
                            />
                            <mat-error>
                              Must enter a number between .1 and 1,000
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </ng-container>
              </mat-accordion>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>tune</mat-icon>
      <span class="ml-2">Post-Install Optimizations</span>
    </ng-template>
    <div class="workbench__loading-shade" *ngIf="isLoadingResults">
      <mat-spinner color="accent" strokeWidth="6.5"></mat-spinner>
    </div>
    <div class="workbench__sending" *ngIf="isSendingResults">
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="d-flex col-12 px-0">
      <!-- mmp optimizations card -->
      <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100">
        <mat-card-title class="pb-2">
          <!-- Bid Optimization Settings For Post-Install Events -->

          <button
            (click)="onResetForm()"
            [disabled]="undoDisabled()"
            mat-button
            class="workbench__buttons float-right"
          >
            <mat-icon
              [ngClass]="undoDisabled() ? '' : 'adoya-web-primary'"
              aria-label="reset"
              >refresh</mat-icon
            >
            <span [ngClass]="undoDisabled() ? '' : 'adoya-web-primary'"
              >undo changes</span
            >
          </button>

          <button
            (click)="onAppleSubmit()"
            [disabled]="branchSubmitDisabled()"
            mat-button
            class="workbench__buttons float-right"
          >
            <mat-icon
              [ngClass]="branchSubmitDisabled() ? '' : 'adoya-web-primary'"
              aria-label="save"
              >cloud_done</mat-icon
            >
            <span [ngClass]="branchSubmitDisabled() ? '' : 'adoya-web-primary'">
              save changes</span
            >
          </button>
        </mat-card-title>

        <mat-card-content>
          <!-- Branch/MMP -->
          <div class="w-100">
            <form [formGroup]="branchForm">
              <!-- enable branch checkbox -->
              <div
                class="mb-2"
                matTooltip="When enabling this feature, Adoya will use your MMP data when making bid adjustments. Reach out to us via Adoya Support for more information."
              >
                <mat-checkbox
                  formControlName="branchBidAdjusterEnabled"
                  (change)="handleBranchCheckboxChange($event)"
                >
                  Enable Bid Optimizations For Post-Install Events
                </mat-checkbox>
              </div>

              <!-- MMP Objective -->
              <mat-form-field
                appearance="fill"
                class="w-100"
                matTooltip="MMP Objective: &#13; Use this option if you want our system to also optimize for in-app purchases. &#13; &#13; This will be a secondary objective as our system optimizes primarily for cost per install. &#13; &#13; If you have MMP enabled, we strongly recommend you select either Cost Per Purchase or Return On Ad Spend (ROAS). &#13; &#13; Mouse over options for more detailed information on each strategy."
              >
                <mat-select formControlName="mmpObjective" class="p-1">
                  <mat-option
                    matTooltip="Cost Per Purchase: &#13;  Use this option if you’re looking to acquire/retain paying customers and less focused on the revenue amount. &#13; &#13; This option works best if you’re taking a longer-term strategy with a focus on customer lifetime value (LTV)."
                    value="cost_per_purchase"
                    >Cost Per Purchase</mat-option
                  >
                  <mat-option
                    matTooltip="Return On Ad Spend (ROAS): &#13;  Use this option if you’re looking to generate immediate revenue. &#13; &#13; ROAS is calculated by dividing revenue by cost."
                    value="revenue_over_ad_spend"
                    >Revenue/Cost</mat-option
                  >
                </mat-select>
                <mat-label
                  ><mat-icon>settings</mat-icon>&nbsp;MMP Optimization
                  Objective</mat-label
                >
              </mat-form-field>

              <!-- Target Cost Per Purchase -->
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>
                  <mat-icon>attach_money</mat-icon>&nbsp;Target Cost Per
                  Purchase
                </mat-label>
                <input
                  class="p-1"
                  formControlName="cpp"
                  matInput
                  type="number"
                  placeholder="Target Cost Per Purchase"
                  matTooltip="Enter the most you’re willing to spend for a purchase. &#13; &#13; Be realistic. Setting a target too low will severely restrict your volume. &#13; &#13; Keep changes within +/- 20% of the previous value (if applicable). This prevents volatility. Also, try to allow for 7 days of performance before making adjustments. &#13; &#13;
                  Important: This factors in mobile measurement partner (MMP) data. &#13; &#13; Apple limits data passed through MMPs due to their privacy policies. Therefore, MMP data is often understated. &#13; &#13; Sometimes by 20% or more. Factor in that 20% when using this option. &#13; &#13; For example, if your target cost per purchase is $10, give it a 20% buffer and set the target to $12."
                />
                <mat-error>
                  Must enter a number between .1 and 1,000
                </mat-error>
              </mat-form-field>

              <!-- Return on Ad spend -->
              <mat-form-field
                appearance="fill"
                class="w-100"
                [ngClass]="isBranchFormDisabled() ? '' : ''"
              >
                <mat-label
                  ><mat-icon>attach_money</mat-icon>&nbsp;Target Return On Ad
                  Spend</mat-label
                >
                <input
                  class="p-1"
                  formControlName="roas"
                  matInput
                  type="number"
                  placeholder="Target Return On Ad Spend"
                  matTooltip="Enter your target ROAS. ROAS formula = revenue / cost. &#13; &#13; Be realistic. Setting a target too high will severely restrict your volume. &#13; &#13; Keep changes within +/- 20% of the previous value (if applicable). This prevents volatility. &#13; &#13; Also, try to allow for 7 days of performance before making adjustments. &#13; &#13;
                  Important: This factors in mobile measurement partner (MMP) data. &#13; &#13; Apple limits data passed through MMPs due to their privacy policies. Therefore, MMP data is often understated. &#13; &#13; Sometimes by 20% or more. Factor in that 20% when using this option. &#13; &#13; For example, if your target ROAS is $2.00, give it a 20% discount and set it to $1.60. Formula for ROAS discount = (100% - 20%) x ROAS target."
                />
                <mat-error>
                  Must enter a number between .1 and 1,000
                </mat-error>
              </mat-form-field>

              <!-- branch -->
              <mat-card-subtitle class="mt-2 mb-2">
                Branch Integration Parameters
              </mat-card-subtitle>

              <!-- branch key -->
              <mat-form-field
                appearance="fill"
                class="w-100 mb-1"
                [ngClass]="isBranchFormDisabled() ? '' : ''"
              >
                <mat-label> Branch Key </mat-label>
                <input
                  class="p-1"
                  formControlName="branchKey"
                  matInput
                  type="text"
                  placeholder=""
                />
              </mat-form-field>

              <!-- branch secret -->
              <mat-form-field
                appearance="fill"
                class="w-100 mb-1"
                [ngClass]="isBranchFormDisabled() ? '' : ''"
              >
                <mat-label> Branch Secret </mat-label>
                <input
                  class="p-1"
                  formControlName="branchSecret"
                  matInput
                  type="text"
                  placeholder=""
                />
              </mat-form-field>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
