@import "variables";

::ng-deep snack-bar-container.standard {
  background: mat-color($adoya-web-primary, 0.95);
}

::ng-deep snack-bar-container.standard simple-snack-bar span {
  color: black;
  font-size: 15pt;
}

::ng-deep {
  input:disabled {
    background-color: inherit !important;
  }
}
