<div class="container pt-2 pb-1">
  <div class="row bottom-border justify-content-center">
    <a href="/workbench/reporting"
      ><img class="logo" src="/assets/images/adoya-client-portal.png" alt=""
    /></a>
  </div>
  <div class="row">
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step>
        <div class="row">
          <ng-template matStepLabel
            >Tell us about your Apple Search Ads Account</ng-template
          >
          <div class="w-100 mt-2 d-flex flex-row">
            <div class="col-6">
              <mat-form-field appearance="fill" color="accent" class="w-100">
                <mat-label>Client Id</mat-label>
                <input matInput placeholder="client id" required />
              </mat-form-field>

              <mat-form-field appearance="fill" color="accent" class="w-100">
                <mat-label>Client Secret</mat-label>
                <input matInput placeholder="client secret" required />
              </mat-form-field>

              <mat-form-field appearance="fill" color="accent" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput placeholder="user name" required />
              </mat-form-field>

              <mat-form-field appearance="fill" color="accent" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" required />
              </mat-form-field>

              <mat-form-field appearance="fill" color="accent" class="w-100">
                <mat-label>Organization Id</mat-label>
                <input matInput placeholder="organization id" required />
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-list>
                <mat-list-item>
                  <mat-icon color="accent" class="align-text-top mr-2"
                    >done</mat-icon
                  >
                  <mat-label
                    >We need to gather some details about your Apple Search Ads
                    account, this allows our system to optimize bids for you
                  </mat-label>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon color="accent" class="align-text-top mr-2"
                    >done</mat-icon
                  >
                  <mat-label>
                    Hover over fields for more information
                  </mat-label>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon color="accent" class="align-text-top mr-2"
                    >done</mat-icon
                  >
                  <mat-label>
                    More on this later, we'll get your campaign strategies on
                    the next step!
                  </mat-label>
                </mat-list-item>
              </mat-list>
            </div>
          </div>

          <button
            mat-flat-button
            matStepperNext
            color="accent"
            class="float-left ml-3"
          >
            <mat-icon class="text-light" aria-label="submit">done</mat-icon>
            <span class="text-light pl-1">next</span>
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Create and Import your campaigns</ng-template>

        <!-- TODO create or import -->

        <!-- Select app, select country-->
        <div class="w-100 mt-2" *ngIf="isOrdinalActive(1)">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill" color="accent">
              <mat-select>
                <ng-container *ngFor="let app of apps">
                  <mat-option value="standard">{{ app }}</mat-option>
                </ng-container>
              </mat-select>
              <mat-label>&nbsp;Select Application</mat-label>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill" color="accent">
              <mat-select>
                <ng-container *ngFor="let country of countries">
                  <mat-option value="standard">{{ country }}</mat-option>
                </ng-container>
              </mat-select>
              <mat-label>Select Country</mat-label>
            </mat-form-field>
          </div>

          <button
            mat-flat-button
            matStepperPrevious
            class="float-left ml-2 border rounded"
          >
            <span class="pl-1">back</span>
          </button>
          <button
            mat-flat-button
            color="accent"
            class="float-left ml-2"
            (click)="submitStep(1)"
          >
            <mat-icon class="text-light" aria-label="submit">done</mat-icon>
            <span class="text-light pl-1">next</span>
          </button>
        </div>

        <!-- Objective, CPI, -->

        <div class="w-100 mt-2" *ngIf="isOrdinalActive(2)">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill" color="accent">
              <mat-select>
                <ng-container *ngFor="let app of apps">
                  <mat-option value="standard">{{ app }}</mat-option>
                </ng-container>
              </mat-select>
              <mat-label>&nbsp;Select Application</mat-label>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill" color="accent">
              <mat-select>
                <ng-container *ngFor="let country of countries">
                  <mat-option value="standard">{{ country }}</mat-option>
                </ng-container>
              </mat-select>
              <mat-label>Select Country</mat-label>
            </mat-form-field>
          </div>

          <button
            mat-flat-button
            (click)="goBack(2)"
            class="float-left ml-2 border rounded"
          >
            <span class="pl-1">back</span>
          </button>
          <button
            mat-flat-button
            color="accent"
            class="float-left ml-2"
            (click)="submitStep(2)"
          >
            <mat-icon class="text-light" aria-label="submit">done</mat-icon>
            <span class="text-light pl-1">next</span>
          </button>
        </div>

        <!-- post-install -->

        <!-- button panel-->
        <div *ngIf="isOrdinalActive(3)">
          <button
            mat-flat-button
            (click)="goBack(3)"
            class="float-left ml-2 border rounded"
          >
            <span class="pl-1">back</span>
          </button>
          <button
            mat-flat-button
            matStepperNext
            color="accent"
            class="float-left ml-2"
          >
            <mat-icon class="text-light" aria-label="submit">done</mat-icon>
            <span class="text-light pl-1">next</span>
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>

<!-- <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="firstCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper> -->
