<div
  class="mat-elevation-z0 position-fixed mb-5 z-index-10 w-100 border-bottom"
>
  <mat-toolbar class="card-med text-center m-0">
    <div class="text-white font-size-14 font-weight-bold text-center w-100">
      Ready to level up your apple search ads campaigns? Checkout a practical
      guide to Apple Search Ads.
      <a href="/start" class="ml-3 text-white">Get the Free Whitepaper</a>

      <button class="float-right text-white pr-2 w-auto" mat-icon-button>
        <mat-icon class="text-white">account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-action-list class="d-flex flex-row py-4 bg-white">
    <button mat-list-item (click)="handleClick('Home')">
      <img class="logo pt-2 pb-3" src="../../../assets/images/adoya-logo.png" />
    </button>
    <button
      [ngClass]="activeButton === 'Products' ? 'active' : ''"
      mat-list-item
      (click)="handleClick('Products')"
    >
      <mat-icon color="accent" class="mr-2">whatshot</mat-icon>
      Products
    </button>
    <button
      [ngClass]="activeButton === 'Resources' ? 'active' : ''"
      [matMenuTriggerFor]="menu"
      mat-list-item
    >
      Resources
      <mat-icon color="accent" class="pl-1">keyboard_arrow_down</mat-icon>
    </button>
    <button
      [ngClass]="activeButton === 'Contact' ? 'active' : ''"
      mat-list-item
      (click)="handleClick('Contact')"
    >
      Contact Us
    </button>
    <button
      [ngClass]="activeButton === 'Start' ? 'active' : 'border-secondary'"
      mat-list-item
      (click)="handleClick('Start')"
      class="rounded-pill border"
    >
      Try Adoya Free
      <mat-icon
        class="ml-1"
        [ngClass]="activeButton === 'Start' ? '' : 'text-muted'"
        >auto_awesome</mat-icon
      >
    </button>
  </mat-action-list>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Apple Search Ads Whitepaper 1</button>
  <button mat-menu-item>Apple Search Ads Whitepaper 2</button>
  <button mat-menu-item>Blog</button>
  <button mat-menu-item>Case Studies</button>
  <button mat-menu-item>Glossary</button>
  <button mat-menu-item>Mobile Marketing News</button>
  <button mat-menu-item>Useful Links</button>
</mat-menu>
