@import "variables.scss";

.home-site-menu__container {
  ::ng-deep {
    .mat-list-base .mat-list-item {
      height: 60px !important;
    }
    .mat-list-item-content {
      justify-content: center;
    }
  }
}

.logo {
  max-width: 75px;
}

.active {
  color: mat-color($adoya-web-primary);
}
