<div class="d-flex flex-row flex-wrap px-0">
  <div class="col-6 pb-3 mt-5">
    <mat-card class="workbench__card mat-elevation-z0 mt-3 w-100 py-2 pb-3">
      <mat-card-title class="py-2 align-middle text-muted">
        Get the Full Suite.
        <mat-icon color="accent" class="mr-2">try</mat-icon>
      </mat-card-title>
      <mat-card-subtitle class="py-2 font-weight-bold text-muted">
        Do more with advanced features
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="d-flex flex-row justify-content-left">
          <mat-card-subtitle class="mb-2">
            <mat-list class="align-left">
              <mat-list-item>
                <mat-icon color="primary">verified</mat-icon>
                <span class="text-muted pl-2">Daily email reports</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">verified</mat-icon>
                <span class="text-muted pl-2">Reporting dashboard</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">verified</mat-icon>
                <span class="text-muted pl-2">Automatic bidding</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">verified</mat-icon>
                <span class="text-muted pl-2"
                  >Automatic targeted keyword adder</span
                >
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">verified</mat-icon>
                <span class="text-muted pl-2"
                  >Automatic negative keyword adder</span
                >
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">verified</mat-icon>
                <span class="text-muted pl-2"
                  >Mobile measurement partner (MMP) integrations</span
                >
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">verified</mat-icon>
                <span class="text-muted pl-2">Email support</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="primary">verified</mat-icon>
                <span class="text-muted pl-2">Phone support</span>
              </mat-list-item>
            </mat-list>
          </mat-card-subtitle>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-action-row class="w-100">
          <div class="mt-2">
            <button
              mat-raised-button
              color="primary"
              class="w-auto ml-4 mt-2"
              (click)="homesiteFacade.handleSignUpClick($event, 'full')"
            >
              <span class="text-light pl-1">Start Free One Month Trial</span>
              <mat-icon class="text-light">navigate_next</mat-icon>
            </button>
          </div>
        </mat-action-row>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-6 pb-3 mt-5">
    <mat-card class="workbench__card mat-elevation-z0 mt-3 pb-3 w-100">
      <mat-card-title class="py-2 text-muted">
        Get the Free Plan.
        <mat-icon color="primary" class="mr-2">try</mat-icon></mat-card-title
      >

      <mat-card-subtitle class="py-2 text-muted font-weight-bold">
        Get started with the basics
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="d-flex flex-row justify-content-left">
          <mat-list>
            <mat-list-item>
              <mat-icon color="primary">verified</mat-icon>
              <span class="text-secondary pl-2">Daily email reports </span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">verified</mat-icon>
              <span class="text-secondary pl-2"> Reporting dashboard </span>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-action-row class="w-100">
          <div>
            <button
              mat-stroked-button
              color="primary"
              class="w-auto ml-4 mt-2"
              (click)="homesiteFacade.handleSignUpClick($event, 'free')"
            >
              <span class="pl-1">Get The Free Plan</span>
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </mat-action-row>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
