<mat-sidenav-container
  class="secure-layout__mat-sidenav-container"
  hasBackdrop="false"
>
  <mat-sidenav #drawer class="menu-sidenav" mode="side" opened="true">
    <div (click)="handleLogoClick()" class="logo-div clickable px-3 mt-2 mb-2">
      <img
        class="logo-img"
        src="./../../../../assets/images/adoya-client-portal.png"
        alt="Adoya logo"
      />
    </div>

    <mat-divider></mat-divider>
    <app-nav-links [isMobile]="false"> </app-nav-links>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main-section
      (toggleDrawerCalled)="toggleDrawer()"
      [sidenavCollapsed]="!drawer.opened"
      [isMobile]="false"
    >
    </app-main-section>
  </mat-sidenav-content>
</mat-sidenav-container>
