<mat-sidenav-container
  class="secure-layout__mat-sidenav-container"
  hasBackdrop="false"
>
  <mat-sidenav class="menu-sidenav" mode="side" opened="true">
    <div class="logo-div clickable">
      <img
        class="logo-img"
        src="./../../../../assets/images/adoya-client-portal.png"
        alt="Adoya logo"
      />
    </div>

    <mat-divider></mat-divider>
    <app-nav-links [isMobile]="false"> </app-nav-links>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main-section (toggleDrawerCalled)="toggleDrawer()" [isMobile]="false">
    </app-main-section>
  </mat-sidenav-content>
</mat-sidenav-container>
