@import "~@angular/material/theming";

$md-adoya-green: (
  50: #f1f5ee,
  100: #dde5d4,
  200: #c6d4b8,
  300: #afc29b,
  400: #9eb585,
  500: #8da870,
  600: #85a068,
  700: #7a975d,
  800: #708d53,
  900: #5d7d41,
  A100: #e8ffd4,
  A200: #ccffa1,
  A400: #b0ff6e,
  A700: #a3ff54,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
