@import "~@angular/material/theming";

$md-adoya-green: (
  50: #f1f5ee,
  100: #dde5d4,
  200: #c6d4b8,
  300: #afc29b,
  400: #9eb585,
  500: #8da870,
  600: #85a068,
  700: #7a975d,
  800: #708d53,
  900: #5d7d41,
  A100: #e8ffd4,
  A200: #ccffa1,
  A400: #b0ff6e,
  A700: #a3ff54,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-adoya-green2: (
  50: #edf8e8,
  100: #d2eec6,
  200: #b5e3a1,
  300: #97d87b,
  400: #80cf5e,
  500: #6ac742,
  600: #62c13c,
  700: #57ba33,
  800: #4db32b,
  900: #3ca61d,
  A100: #e5ffdf,
  A200: #bcffac,
  A400: #93ff79,
  A700: #7eff5f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-adoya-purple: (
  50: #f4e7fc,
  100: #e5c2f9,
  200: #d39af5,
  300: #c171f0,
  400: #b452ed,
  500: #a734ea,
  600: #9f2fe7,
  700: #9627e4,
  800: #8c21e1,
  900: #7c15db,
  A100: #ffffff,
  A200: #ebd8ff,
  A400: #d1a5ff,
  A700: #c38bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
