<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-lg-10 h-100 mx-auto">
            <div class="row justify-content-center align-middle h-100">
                <section
                    class="col-12 flex-lg-column justify-content-center align-middle text-center my-4"
                >
                    <img
                        src="https://images.jtv.com/media/partner-central/logos/partner-central.svg"
                        class="m-auto text-center col-6 col-lg-4"
                    />
                </section>
                <section
                    class="col-12 col-lg-6 flex-lg-column justify-content-center align-middle text-center mb-4"
                >
                    <h1 class="color-primary">{{ errorCodeHeader }}</h1>
                    <h2>{{ errorCardHeaderMessaging }}</h2>
                    <h4>{{ userFriendlySuggestedActionMessage }}</h4>
                    <p>{{ errorMessaging }}</p>
                </section>
                <section
                    class="col-12 col-lg-6 flex-lg-column justify-content-center align-middle text-center mb-4"
                >
                    <img [src]="imgSrc" class="m-auto text-center" />
                </section>
            </div>
        </div>
    </div>
</div>
