<div class="main-section-wrapper">
  <button
    *ngIf="sidenavCollapsed"
    mat-icon-button
    (click)="toggleDrawer()"
    class="main-section__buttons float-left ml-2"
    mat-icon-button
  >
    <mat-icon aria-label="menu">menu</mat-icon>
  </button>

  <button
    *ngIf="!sidenavCollapsed"
    mat-icon-button
    (click)="toggleDrawer()"
    class="main-section_buttons float-left ml-1"
    mat-icon-button
    color="primary"
  >
    <mat-icon aria-label="menu">menu_open</mat-icon>
    hide menu
  </button>
  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button
    class="main-section_buttons float-right ml-1"
    mat-icon-button
  >
    <mat-icon color="primary" aria-label="menu">face</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="onProfileClicked()" mat-menu-item>
      <mat-icon color="primary">account_circle</mat-icon> Account
    </button>
    <button (click)="onLogoutClicked()" mat-menu-item>
      <mat-icon color="primary">exit_to_app</mat-icon> Log Out
    </button>
  </mat-menu>
  <div class="top-bar-panel d-flex">
    <div class="page-title col-6">
      {{ getPageTitle() }}
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
