<div class="main-section-wrapper">
  <button
    *ngIf="sidenavCollapsed"
    mat-icon-button
    (click)="toggleDrawer()"
    class="main-section__buttons float-left ml-2"
    mat-icon-button
  >
    <mat-icon aria-label="menu">menu</mat-icon>
    menu
  </button>

  <button
    *ngIf="!sidenavCollapsed"
    mat-icon-button
    (click)="toggleDrawer()"
    class="main-section_buttons float-left ml-1"
    mat-icon-button
    color="accent"
  >
    <mat-icon aria-label="menu">menu_open</mat-icon>
    hide menu
  </button>
  <button
    mat-icon-button
    class="main-section_buttons float-right ml-1"
    mat-icon-button
  >
    <mat-icon color="accent" aria-label="menu">account_box</mat-icon>
  </button>
  <div class="top-bar-panel d-flex">
    <div class="page-title col-6">
      {{ getPageTitle() }}
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
