<div class="mat-elevation-z8 mt-2 keyword-reporting-component__table-container">
  <div
    class="d-flex justify-content-start col-12 flex-wrap flex-row no-gutters px-0"
  >
    <form
      [formGroup]="keywordFilterForm"
      class="d-flex col-12 flex-wrap flex-col"
    >
      <mat-form-field class="mr-3">
        <mat-label>start date</mat-label>
        <input
          matInput
          [max]="minDate"
          formControlName="start"
          [matDatepicker]="startpicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startpicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="mr-3">
        <mat-label>end date</mat-label>
        <input
          matInput
          [max]="maxDate"
          formControlName="end"
          [matDatepicker]="endpicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endpicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
      </mat-form-field>

      <!-- <mat-form-field class="mr-3" color="accent">
        <mat-select formControlName="keywordStatus">
          <mat-option value="ACTIVE">ACTIVE</mat-option>
          <mat-option value="PAUSED">PAUSED</mat-option>
          <mat-option value="all">ALL</mat-option>
        </mat-select>
        <mat-label>keyword status</mat-label>
      </mat-form-field> -->

      <mat-form-field class="mr-3" color="accent">
        <mat-select formControlName="matchType">
          <mat-option value="BROAD">BROAD</mat-option>
          <mat-option value="EXACT">EXACT</mat-option>
          <mat-option value="all">ALL</mat-option>
        </mat-select>
        <mat-label>match type</mat-label>
      </mat-form-field>
    </form>

    <div
      class="d-flex col-12 flex-wrap flex-col justify-content-left align-items-left no-gutters"
    >
      <button
        [disabled]="applyFilterDisabled()"
        mat-button
        (click)="applyFilter()"
      >
        <mat-icon aria-label="save">filter_alt</mat-icon>
        apply filters
      </button>

      <button mat-button (click)="resetKeywordFilters()">
        <mat-icon aria-label="clear">clear</mat-icon>
        clear filters
      </button>

      <button (click)="downloadKeywordsCsv()" mat-button>
        <mat-icon class="ml-1" aria-label="download">save_alt</mat-icon>
        csv download
      </button>

      <button
        mat-button
        (click)="showDataView()"
        *ngIf="!isKeywordDataVisMode && !isKeywordAggDataVisMode"
      >
        <mat-icon class="ml-2" aria-label="graph">show_chart</mat-icon>
        visualization
      </button>

      <button
        mat-button
        (click)="showTableView()"
        *ngIf="isKeywordDataVisMode || isKeywordAggDataVisMode"
      >
        <mat-icon class="ml-2" aria-label="table">table_view</mat-icon>
        table view
      </button>

      <button
        mat-button
        (click)="showAggregateDataView()"
        *ngIf="isKeywordDataVisMode"
      >
        <mat-icon class="ml-2" aria-label="pie chart">pie_chart</mat-icon>
        pie chart
      </button>

      <button
        mat-button
        (click)="showDataView()"
        *ngIf="isKeywordAggDataVisMode"
      >
        <mat-icon class="ml-2" aria-label="line chart"
          >stacked_line_chart</mat-icon
        >
        line chart
      </button>

      <!-- <button
        mat-icon-button
        class="reporting__buttons mr-4"
        (click)="hideLegend()"
        *ngIf="isKeywordDataVisMode"
        mat-icon-button
      >
        <mat-icon class="ml-2" aria-label="download">visibility_off</mat-icon>
        hide legend
      </button> -->

      <mat-chip-list
        *ngIf="isKeywordDataVisMode || isKeywordAggDataVisMode"
        class="ml-1"
      >
        <mat-chip
          *ngFor="
            let activeLineChartMetric of reportingService.activeKeywordLineChartMetric$.getValue()
          "
          [selected]="activeLineChartMetric.state"
          (click)="onChipClicked(activeLineChartMetric)"
        >
          {{ activeLineChartMetric.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <!-- data view -->
  <div *ngIf="isKeywordDataVisMode">
    <app-keyword-reporting-line-chart></app-keyword-reporting-line-chart>
  </div>

  <!-- data view -->
  <div *ngIf="isKeywordAggDataVisMode">
    <app-keyword-reporting-pie-chart></app-keyword-reporting-pie-chart>
  </div>

  <!-- table view -->
  <mat-paginator
    [ngClass]="isKeywordAggDataVisMode ? 'd-none' : ''"
    #keywordsPaginator
    [pageSizeOptions]="[100, 250, 500, 1000, 5000, 10000]"
    class="keyword-reporting__paginator"
  >
  </mat-paginator>

  <table
    [ngClass]="isKeywordAggDataVisMode ? 'd-none' : ''"
    mat-table
    [dataSource]="keywordDataSource"
    matSort
    matSortActive="date"
    matSortDirection="asc"
  >
    <ng-container matColumnDef="date">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="keyword_id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Keyword ID</th>
      <td mat-cell *matCellDef="let element">{{ element.keyword_id }}</td>
    </ng-container>

    <ng-container matColumnDef="keyword">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Keyword</th>
      <td mat-cell *matCellDef="let element">{{ element.keyword }}</td>
    </ng-container>

    <ng-container matColumnDef="matchType">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Match Type</th>
      <td mat-cell *matCellDef="let element">{{ element.matchType }}</td>
    </ng-container>

    <ng-container matColumnDef="keywordDisplayStatus">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Display Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.keywordDisplayStatus }}
      </td>
    </ng-container>

    <ng-container matColumnDef="keywordStatus">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.keywordStatus }}
      </td>
    </ng-container>

    <ng-container matColumnDef="local_spend">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let element">
        {{ element.local_spend }}
      </td>
    </ng-container>

    <ng-container matColumnDef="installs">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Installs</th>
      <td mat-cell *matCellDef="let element">
        {{ element.installs }}
      </td>
    </ng-container>

    <ng-container matColumnDef="avg_cpa">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        Cost Per Install
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.avg_cpa }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedKeywordColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedKeywordColumns"></tr>
  </table>

  <!-- aggregate table -->
  <table
    [ngClass]="!isKeywordAggDataVisMode ? 'd-none' : ''"
    mat-table
    matSort
    matSortActive="installs"
    matSortDirection="desc"
    [dataSource]="keywordAggregatedDataSource"
  >
    <ng-container matColumnDef="keyword">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Keyword</th>
      <td mat-cell *matCellDef="let element">{{ element.keyword }}</td>
    </ng-container>

    <ng-container matColumnDef="installs">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Installs</th>
      <td mat-cell *matCellDef="let element">
        {{ element.installs }}
      </td>
    </ng-container>

    <ng-container matColumnDef="avg_cpa">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        Cost Per Install
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.avg_cpa }}
      </td>
    </ng-container>

    <ng-container matColumnDef="local_spend">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let element">
        {{ element.local_spend }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedAggregatedKeywordColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedAggregatedKeywordColumns"
    ></tr>
  </table>
</div>
