::ng-deep .keyword-reporting-component__table-container {
  .mat-paginator-container {
    justify-content: left !important;
  }
  .mat-cell {
    width: 150px;
  }
  .mat-table {
    width: 100%;
  }
}

.keyword-reporting__paginator {
  background-color: #dde5d4;
}

.keyword-reporting__loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.05);
  // background: #5d7d41, 0.15;
  z-index: 1;
  display: flex;
  align-items: top;
  justify-content: center;
}

.keyword-reporting__buttons {
  width: 120px;
}
